<form class="induction_pack_component">
	<div id="accordion">
		<div class="single_accordion">
			<div class="single_accordion_title" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				Type Yes/No
			</div>
			<div id="collapseOne" class="collapse single_accordion_content show" aria-labelledby="headingOne" data-parent="#accordion">
				<div class="single_accordion_content_inner">
					<div class="row">
						<div class="col-md-6">
							<label>Refresher induction</label>
							<mat-radio-group aria-label="Select an option">
								<mat-radio-button value="1">Yes</mat-radio-button>
								<mat-radio-button value="2">No</mat-radio-button>
							</mat-radio-group>
						</div>
						<div class="col-md-6">
							<label>New Starter</label>
							<mat-radio-group aria-label="Select an option">
								<mat-radio-button value="1">Yes</mat-radio-button>
								<mat-radio-button value="2">No</mat-radio-button>
							</mat-radio-group>
						</div>
						<div class="col-md-6">
							<label>Is Inductee working on NR?</label>
							<mat-radio-group aria-label="Select an option">
								<mat-radio-button value="1">Yes</mat-radio-button>
								<mat-radio-button value="2">No</mat-radio-button>
							</mat-radio-group>
						</div>
						<div class="col-md-6">
							<label>Is Inductee working on TfL?</label>
							<mat-radio-group aria-label="Select an option">
								<mat-radio-button value="1">Yes</mat-radio-button>
								<mat-radio-button value="2">No</mat-radio-button>
							</mat-radio-group>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="single_accordion">
			<div class="single_accordion_title collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				Collapsible Group Item #2
			</div>
			<div id="collapseTwo" class="collapse single_accordion_content" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="single_accordion_content_inner">
					Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2Collapsible Group Item #2
				</div>
			</div>
		</div>
		<div class="single_accordion">
			<div class="single_accordion_title collapsed" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				Collapsible Group Item #3
			</div>
			<div id="collapseThree" class="collapse single_accordion_content" aria-labelledby="headingThree" data-parent="#accordion">
				<div class="single_accordion_content_inner">
					Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3Collapsible Group Item #3
				</div>
			</div>
		</div>
	</div>
</form>