.fa-envelope{
    font-size: 40px;
    margin-right: 10px;
    color: #AEAEAE;
    @media (max-width:575px){
        font-size: 30px;
    }
}
.fa-file-alt{
    font-size: 18px;
    border-radius: 50%;
    padding: 9px 11px;
    color: white;
    margin-right: 5px;
}
.page-title1{
    font-size: 18px;
    align-items: center;
    justify-content: left;
    height: 100%;
    display: flex;
    @media (max-width:575px){
        font-size: 15px;
    }
}
table {
    margin: 0;
    width: 100%;

    @media(max-width: 767px) {
        min-width: 725px;
    }
    
}
@media (max-width:575px){
    h3.page-title 
         {
            font-size: 22px;
        }
    }
