{{material.title}}
<mat-card>
    <mat-card-header>
        <button mat-button>Download</button>
    </mat-card-header>
    <!-- <mat-card-content *ngFor='let file of files'> -->
        
        <div class="row">
            <div class="col-md-3 materials_box" *ngFor="let file of fileList">
                <mat-card class="p-0">
                    <mat-card-content class="material_card">
                        <!-- <img src="../../../assets/icon-powerpoint.png" /> -->
                        <div [ngClass]="file.extension"> </div>
                        <h3 class="file_title">{{file.title}}</h3>
                    </mat-card-content>
                    <div class="download_btn">
                        <a href="{{file.path}}" class="text-white">
                            <i class="fas fa-file-download"></i>Download
                        </a>
                    </div>
                </mat-card>
            </div>
        </div>
        
    <!-- </mat-card-content> -->
</mat-card>
