span.field-icon.toggle-password{
    position: absolute;
    right: 15px;
    // top: 0;
    bottom: 0;
    margin: auto;
    color:#adb5be;
    line-height: 40px;
    z-index: 11;
}
.reset_card{
    width: 55%;
    @media (max-width:767px){
        width: 100%;
    }
}
mat-form-field{
    width: 100% !important;
}
@media (max-width:575px){
    .reset{
        font-size: 25px;
    }
}