<h3 *ngIf="loading" class="text-center text-info pt-3">Loading...<i class="fa fa-cog fa-spin text-info"></i>
</h3>
<div class="row m-0 align-items-center">

    <div class="col-12 responsive-row">
        <div class="card">

            <!-- Filters Row Start -->
            <div class="row">
                <div class="col" *ngIf="allLearners && allLearners.length != 0">
                    <ng-select [items]="allLearners" [multiple]="true" [closeOnSelect]="false" [searchable]="true"
                        bindLabel="name" placeholder="Choose Learners" [(ngModel)]="selectedLearners">
                    </ng-select>
                </div>
                <div class="col" *ngIf="unitArray && unitArray.length != 0 && allLearners && allLearners.length != 0">
                    <ng-select [items]="unitsToDisplay" [multiple]="true" [closeOnSelect]="false" [searchable]="true"
                        bindLabel="text" placeholder="Choose Units" [(ngModel)]="selectedUnits">
                    </ng-select>
                </div>
                <div class="col-1" *ngIf="unitArray && unitArray.length != 0 && allLearners && allLearners.length != 0">
                    <button class="go-button" color="primary" (click)="getFilteredData()">GO</button>
                </div>
            </div>

            <!-- Filter Row End -->



            <div class="row">
                <ul class="legend" *ngIf="assignmentLength != 0 && allLearners && allLearners.length != 0">
                    <li><span class="unassigned"></span>Unassigned</li>
                    <li><span class="pending"></span>Pending</li>
                    <li><span class="submitted"></span>Submitted</li>
                    <li><span class="resubmitted"></span>Re-submitted</li>
                    <li><span class="requestforresubmission"></span>Request for resubmission</li>
                    <li><span class="completed"></span>Completed</li>
                    <li><button mat-button *ngIf="showAllocate" (click)="allocate()">Allocate</button></li>
                </ul>
                <div class="col-12" *ngIf="assignmentLength != 0 && allLearners && allLearners.length != 0">
                    <div class="table-responsive">
                        <table class="float-left">
                            <thead>
                                <tr>
                                    <th class="table_th">Learners</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let learn of learner">
                                    <a routerLink="/learner/{{learn._id}}">
                                        <td class="learner-name"> {{learn.learnerName}} </td>
                                    </a>
                                </tr>
                            </tbody>
                        </table>

                        <div *ngFor="let unit of unitArray">

                            <table class="float-left" border="1">
                                <thead>
                                    <tr>
                                        <th [attr.colspan]="unit.assignment.length">Unit {{unit._id}}</th>
                                    </tr>
                                    <tr>
                                        <th *ngFor="let assignment of unit.assignment">{{assignment.assignmentNo}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let learn of learner; let learnIndex = index;">
                                        <td *ngFor="let ass of unit.assignment; let assignIndex = index;"
                                            class="td-width">
                                            <a *ngIf="checkArray(learn.assignments,ass.assignmentId) != 'Unassigned'"
                                                routerLink="/learnerAllotment/{{checkArrayForRouting(learn.assignments,ass.assignmentId)}}">
                                                <div placement="top"
                                                    ngbTooltip="{{checkArrayWithDate(learn.assignments,ass.assignmentId)}}"
                                                    tooltipClass="tooltip-top-class"
                                                    [ngClass]="checkArray(learn.assignments,ass.assignmentId)"> </div>
                                            </a>
                                            <a *ngIf="checkArray(learn.assignments,ass.assignmentId) == 'Unassigned'">
                                                <div placement="top"
                                                    (click)="unassignedClicked(learn, ass, learnIndex, assignIndex, $event)"
                                                    ngbTooltip="{{checkArrayWithDate(learn.assignments,ass.assignmentId)}}"
                                                    tooltipClass="tooltip-top-class"
                                                    [ngClass]="checkArray(learn.assignments,ass.assignmentId)"
                                                    id="Unassigned{{ass.assignmentId}}{{learn._id}}">
                                                </div>
                                                <!--  -->
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>


                <h3 class="m-auto text-info py-2 no_found_msg" *ngIf="allLearners && allLearners.length == 0">
                    No Assignment Alloted!
                </h3>

            </div>
        </div>
    </div>
</div>