<!-- <div class="row" *ngIf="job">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <h3 class="page-title">
                    Job: {{job.title}}
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-6">
                                <mat-list>
                                    <mat-list-item><i class="fas text-primary fa-fw fa-building"></i> College :
                                        {{job.client.name}}</mat-list-item>
                                    <mat-list-item><i class="fas text-warning fa-fw fa-map-marker"></i> Location :
                                        {{job.location.title}}</mat-list-item>
                                    <mat-list-item><i class="fas text-success fa-fw fa-book"></i> Course :
                                        {{job.course.title}}</mat-list-item>

                                </mat-list>
                            </div>
                            <div class="col-6 ">
                                <mat-divider [vertical]="true"></mat-divider>
                                <h5 class="">
                                    <img src="../../assets/instructor.png"
                                        style="float: left; height:50px;position:relative; top:-15px">
                                    Instructors</h5>
                                <mat-list class="" role="list">
                                    <mat-list-item *ngFor="let instructor of job.instructors" role="listitem">

                                        <i class="fas text-primary fa-fw fa-user-tie"></i>
                                        {{instructor.name}}
                                    </mat-list-item>
                                </mat-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->



<div class="row">
    <div class="col-12" *ngIf="learner && learner.length > 0">
        <div class="table-responsive">
        <table class="float-left">
            <thead>
                <tr>
                    <th class="table_th">Learners</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let learn of learner">
                    <td class="learner-name"> {{learn.learnerName}} </td>
                </tr>
            </tbody>
        </table>
         
        <div *ngFor="let unit of unitArray">
           
            <table class="float-left" border="1">
                <thead>
                    <tr>
                        <th [attr.colspan]="unit.assignment.length">Unit {{unit._id}}</th>
                    </tr>
                    <tr>
                        <th *ngFor="let assignment of unit.assignment">{{assignment.assignmentNo}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let learn of learner">
                        <td *ngFor="let ass of unit.assignment" class="td-width">
                            <div title="{{checkArrayWithDate(learn.assignments,ass.assignmentId)}}"
                                [ngClass]="checkArray(learn.assignments,ass.assignmentId)"> </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>

    <div *ngIf=" learner && !learner.length > 0">
        <h3 class="text-center">No Learners</h3>
    </div>
</div>


<!-- 
<div>
    <app-learners (getLearnersFromComponent)="loadLearners($event)"></app-learners>
</div> -->