
i.fas.fa-square-full.fa-2x.Pending {
    color:red;
}


i.fas.fa-square-full.fa-2x.Completed {
    color:green;
}


i.fas.fa-square-full.fa-2x.Submitted {
    color:green;
}
.Completed{
    min-width: 30px;
    background-color:#64FE00;
    height: 30px;
}
.Pending{
    min-width: 30px;
    background-color:#d01414fa;
    height: 30px;
}
.Requested{
    min-width: 30px;
    background-color:#ff9800c4;
    height: 30px;
}

.Submitted{
    min-width: 30px;
    background-color:#3B86FF;
    height: 30px;
}

.Re-submitted{
    min-width: 30px;
    background-color:#acc7ef;
    height: 30px;
}

.Unassigned{
    min-width: 30px;
    background-color:#ffeb3b;
    height: 30px;
}

.td-width{
    height: 30px;
    width: 30px;
    min-width: 30px;
    padding: 0;
}
th{
    padding: 0px 4px;
    @media (max-width:575px){
        font-size: 14px;
    }
}

.learner-name{
    height: 30px;
    text-align: right;
    padding-right: 7px;
    font-size: 15px;
    @media (max-width:575px){
        font-size: 13px;
    }
}
.table_th{
    width: 140px;
    min-width: 140px;
    text-align: center;
    padding: 0px 15px;
    height: 52px;
    @media (max-width:575px){
        height: 45px;
    }
}
table {
    margin: 0;

    @media(max-width: 767px) {
        min-width: max-content;
        white-space: nowrap;
    }
}
.table-responsive{
    display: flex !important;
}