.tag {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: inline-block;
}

.tag-default {
    background-color: gray;
}

.tag-success {
    background-color: green;
}

.tag-warning {
    background-color: orange;
}

.tag-danger {
    background-color: red;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.drop-zone {
    border: dotted 3px lightgray;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.single-file {
    position: relative;
    input {
        position: relative;
        text-align: right;
        opacity: 0;
        z-index: 2;
        height: 50px;
        cursor: pointer;
    }
}

.fake_file {
    position: absolute;
    background: #3b86ff;
    border: none;
    border-radius: 6px;
    padding: 8px 15px;
    z-index: 1;
    top: 26px;
    font-size: 18px;
    color: white;
    margin-top: 15px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.single-file input[type="file"] {
    width: 100%;
    outline: none !important;
}

.closeBtn {
    background: transparent;
    border: transparent;
    float: right;
    color: red;
    &:active,
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.success_button {
    border-radius: 50px;
    margin-top: 20px;
}

.remove_button {
    border-radius: 50PX;
    margin-top: 20px;
}