<h1 mat-dialog-title class="mat-dialog-title light-underline"><i class="fas fa-plus-circle"></i> Add Files </h1>
<mat-card>
    <h5 class="mb-3">Upload</h5>
    <mat-card-content>
        <div class="row">
            <div class="col-md-3">
                <div class="well drop-zone" (onFileDropped)="dragQueue($event)" appDragDrop>Files drop zone </div>
                <div class="single-file">
                    <h5>Select files</h5>
                    <input type="file" #fileInput multiple (change)="addToQueue()" />
                    <div class="fake_file">
                        <p class="m-0">Choose file</p>
                    </div>
                </div>
            </div>

            <div class="col-md-9" style="margin-bottom: 40px">
                <h3>Upload queue</h3>
                <table class="table-headed table table-striped">
                    <thead>
                        <tr>
                            <th class="text-left" width="50%">Name</th>
                            <th class="text-right">Size</th>
                            <th class="text-left">Progress</th>
                            <th class="text-left">Status</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of queue | async">
                            <td>{{ item?.file?.name }}</td>
                            <td class="text-right">{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                            <td>{{ item.progress + ' %' }}</td>
                            <td>
                                <span *ngIf="item.isPending()" class="tag tag-default"></span>
                                <span *ngIf="item.isSuccess()" class="tag tag-success"></span>
                                <span *ngIf="item.inProgress()" class="tag tag-warning"></span>
                                <span *ngIf="item.isError()" class="tag tag-danger"></span>
                            </td>
                            <td class="text-right">
                                <button type="button" class="btn btn-success btn-xs" *ngIf="item.isUploadable()"
                                    (click)="item.upload()">
                                    <i class="fa fa-upload"></i> Upload
                                </button>

                                <button type="button" class="btn btn-warning btn-xs" *ngIf="item.inProgress()"
                                    (click)="item.cancel()">
                                    <i class="fa fa-times-circle"></i> Cancel
                                </button>


                                <button type="button" *ngIf="!item.inProgress()" class="btn btn-danger btn-xs"
                                    (click)="item.remove()">
                                    <i class="fa fa-trash"></i> Remove
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <!-- <a class="button" (click)="uploader.clearQueue()">Clear queue</a>
            <a class="button button-primary" (click)="uploader.uploadAll()">Upload all</a> -->

                    <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()">
                        <i class="fa fa-upload"></i> Upload all
                    </button>

                    <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()">
                        <i class="fa fa-trash"></i> Remove all
                    </button>

                </div>
            </div>

        </div>
    </mat-card-content>
</mat-card>