<div class="card reset_card m-auto text-center">
    <h3 class="reset my-3"><i class="fas fa-unlock-alt"></i> Reset Password</h3>
    <form (ngSubmit)='doSubmit()' [formGroup]="loginForm">

        <!-- Old Password -->
        <mat-form-field class="example-full-width pb-1">
            <input matInput [type]="show ? 'text' : 'password'" name="password" placeholder="Current Password"
                type="password" formControlName="oldPassword" required>
            <mat-error>Old Password is required.</mat-error>
            <span toggle="#password-field" id="opassword" class="fa fa-fw fa-eye-slash field-icon toggle-password"
                (click)="opassword()"></span>
        </mat-form-field>

        <!-- New Password -->
        <mat-form-field class="example-full-width pb-1">
            <input matInput [type]="show1 ? 'text' : 'password'" name="password" placeholder="New Password"
                type="password" formControlName="newPassword" required>
            <mat-error>New Password is required.</mat-error>
            <span toggle="#password-field" id="password" class="fa fa-fw fa-eye-slash field-icon toggle-password"
                (click)="password()"></span>
        </mat-form-field>


        <!-- Confirm Password -->
        <mat-form-field class="example-full-width pb-1">
            <input matInput name="instructor-password" [type]="show2 ? 'text' : 'password'"
                placeholder="Confirm Password" type="password" formControlName="confirmPassword" required>
            <mat-error>Confirm Password is required.</mat-error>
            <span toggle="#password-field" id="cpassword" class="fa fa-fw fa-eye-slash field-icon toggle-password"
                (click)="cpassword()"></span>
        </mat-form-field>

        <!-- Password Miss-match Message -->
        <div class="row">
            <div class="col-12 text-center" *ngIf="passwordMismatch">
                <span class="" style="color:#ff6e40; font-weight: bold;" *ngIf="true">Passwords are different.
                    Please re-enter.</span>
            </div>
        </div>

        <!-- Submit Button -->
        <button mat-flat-button class="btn btn-sm button_hover_effect my-1" style="width: 150px;
    margin: 5px auto;" color="primary" type="submit">
            <span>Submit</span>
        </button>

    </form>
</div>