<div class="row">
    <div class="col-6">
        <h3 class="page-title">
            Time Sheet
        </h3>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12">
        <mat-card>
            <!-- <h4>Current Rules</h4> -->
            <mat-chip-list>
                <mat-chip class="workingHrsStatus">Work hours per day</mat-chip>
                <mat-chip class="travelHrsStatus">Travel + work per day</mat-chip>
                <mat-chip class="last13Status">No. of turns in last 14 days</mat-chip>
                <mat-chip class="weekHrs">Hours per week</mat-chip>
                <mat-chip class="breakBtnTurnsStatus">Min break between turns</mat-chip>
            </mat-chip-list>
        </mat-card>
    </div>
</div>
<div class="devide_row">
    <div class="row">
        <div class="col-sm-12 col-lg-4 col-md-4">
            <div *ngFor="let month of months;let i = index">
                <mat-expansion-panel class="mb-4" *ngIf="i == 0 || i == 3 || i == 6 || i == 9"
                    (opened)="showWeeks(month.id, i) " [expanded]="step === i">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="col-3">
                                <i class="fa fa-calendar-o iconCalendar {{getRandomColorClass(i)}}" aria-hidden="true"></i>
                            </div>
                            <div class="col-9 d-flex justify-content-start align-items-center">
                                <h5 class="mb-0">{{month.name}}</h5>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <mat-card class="mt-2 displayDates" appMaterialElevation [defaultElevation]="0" raisedElevation="2"
                        *ngFor="let week of allWeeks" (click)="singleWeek(week)">
                        <div>
                            {{week.weekStart | date:shortDate}} - {{week.weekEnd | date:shortDate}}
                        </div>
                        <div>
                            <span *ngIf="week.breakBtnTurnsStatus == 'Regulation exceeded'"
                                class="badge breakBtnTurnsStatus"> X </span>
                            <span *ngIf="week.last13Status == 'Regulation exceeded'" class="badge last13Status"> X </span>
                            <span *ngIf="week.travelHrsStatus == 'Regulation exceeded'" class="badge travelHrsStatus"> X
                            </span>
                            <span *ngIf="week.weekHrs == 'Regulation exceeded'" class="badge weekHrs"> X </span>
                            <span *ngIf="week.workingHrsStatus == 'Regulation exceeded'" class="badge workingHrsStatus"> X
                            </span>
                            <span
                                *ngIf="week.workingHrsStatus != 'Regulation exceeded' && week.weekHrs != 'Regulation exceeded' && week.breakBtnTurnsStatus != 'Regulation exceeded' && week.last13Status != 'Regulation exceeded' "
                                class="badge2"> No Rules Break
                            </span>
                        </div>
                    </mat-card>
                </mat-expansion-panel>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div *ngFor="let month of months;let i = index">
                <mat-expansion-panel class="mb-4" *ngIf="i == 1 || i == 4 || i == 7 || i == 10"
                    (opened)="showWeeks(month.id, i)" [expanded]="step === i">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="col-3">
                                <i class="fa fa-calendar-o iconCalendar {{getRandomColorClass(i)}}" aria-hidden="true"></i>
                            </div>
                            <div class="col-9 d-flex justify-content-start align-items-center">
                                <h5 class="mb-0">{{month.name}}</h5>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <mat-card class="mt-2 displayDates" appMaterialElevation [defaultElevation]="0" raisedElevation="2"
                        *ngFor="let week of allWeeks" (click)="singleWeek(week)">
                        <div>
                            {{week.weekStart | date:shortDate}} - {{week.weekEnd | date:shortDate}}
                        </div>
                        <div>
                            <span *ngIf="week.breakBtnTurnsStatus == 'Regulation exceeded'"
                                class="badge breakBtnTurnsStatus"> X </span>
                            <span *ngIf="week.last13Status == 'Regulation exceeded'" class="badge last13Status"> X </span>
                            <span *ngIf="week.travelHrsStatus == 'Regulation exceeded'" class="badge travelHrsStatus"> X
                            </span>
                            <span *ngIf="week.weekHrs == 'Regulation exceeded'" class="badge weekHrs"> X </span>
                            <span *ngIf="week.workingHrsStatus == 'Regulation exceeded'" class="badge workingHrsStatus"> X
                            </span>
                            <span
                                *ngIf="week.workingHrsStatus != 'Regulation exceeded' && week.weekHrs != 'Regulation exceeded' && week.breakBtnTurnsStatus != 'Regulation exceeded' && week.last13Status != 'Regulation exceeded' "
                                class="badge2"> No Rules Break
                            </span>
                        </div>
                    </mat-card>
                </mat-expansion-panel>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div *ngFor="let month of months;let i = index">
                <mat-expansion-panel class="mb-4" *ngIf="i == 2 || i == 5 || i == 8 || i == 11"
                    (opened)="showWeeks(month.id, i);" [expanded]="step === i">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="col-3">
                                <i class="fa fa-calendar-o iconCalendar {{getRandomColorClass(i)}}" aria-hidden="true"></i>
                            </div>
                            <div class="col-9 d-flex justify-content-start align-items-center">
                                <h5 class="mb-0">{{month.name}}</h5>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <mat-card class="mt-2 displayDates" appMaterialElevation [defaultElevation]="0" raisedElevation="2"
                        *ngFor="let week of allWeeks" (click)="singleWeek(week)">
                        <div>
                            {{week.weekStart | date:shortDate}} - {{week.weekEnd | date:shortDate}}
                        </div>
                        <div>
                            <span *ngIf="week.breakBtnTurnsStatus == 'Regulation exceeded'"
                                class="badge breakBtnTurnsStatus">X</span>
                            <span *ngIf="week.last13Status == 'Regulation exceeded'" class="badge last13Status"> X </span>
                            <span *ngIf="week.travelHrsStatus == 'Regulation exceeded'" class="badge travelHrsStatus"> X
                            </span>
                            <span *ngIf="week.weekHrs == 'Regulation exceeded'" class="badge weekHrs"> X </span>
                            <span *ngIf="week.workingHrsStatus == 'Regulation exceeded'" class="badge workingHrsStatus"> X
                            </span>
                            <span
                                *ngIf="week.workingHrsStatus != 'Regulation exceeded' && week.weekHrs != 'Regulation exceeded' && week.breakBtnTurnsStatus != 'Regulation exceeded' && week.last13Status != 'Regulation exceeded' "
                                class="badge2"> No Rules Break
                            </span>
                        </div>
                    </mat-card>
                </mat-expansion-panel>
            </div>
        </div>
    </div>
</div>

<!-- 
<div *ngIf="loading && !displayMsg" id="loader-wrapper">
    <div class="lds-dual-ring"></div>
</div> -->
<div class="single_row">
    <div class="row">
        <div class="col-12">
            <div *ngFor="let month of months;let i = index">
                <mat-expansion-panel class="mb-4" (opened)="showWeeks(month.id, i) " [expanded]="step === i">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="col-3">
                                <i class="fa fa-calendar-o iconCalendar {{getRandomColorClass(i)}}" aria-hidden="true"></i>
                            </div>
                            <div class="col-9 d-flex justify-content-start align-items-center">
                                <h5 class="mb-0">{{month.name}}</h5>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <mat-card class="mt-2 displayDates" appMaterialElevation [defaultElevation]="0" raisedElevation="2"
                        *ngFor="let week of allWeeks" (click)="singleWeek(week)">
                        <div>
                            {{week.weekStart | date:shortDate}} - {{week.weekEnd | date:shortDate}}
                        </div>
                        <div>
                            <span *ngIf="week.breakBtnTurnsStatus == 'Regulation exceeded'"
                                class="badge breakBtnTurnsStatus"> X
                            </span>
                            <span *ngIf="week.last13Status == 'Regulation exceeded'" class="badge last13Status"> X </span>
                            <span *ngIf="week.travelHrsStatus == 'Regulation exceeded'" class="badge travelHrsStatus"> X
                            </span>
                            <span *ngIf="week.weekHrs == 'Regulation exceeded'" class="badge weekHrs"> X </span>
                            <span *ngIf="week.workingHrsStatus == 'Regulation exceeded'" class="badge workingHrsStatus"> X
                            </span>
                            <span
                                *ngIf="week.workingHrsStatus != 'Regulation exceeded' && week.weekHrs != 'Regulation exceeded' && week.breakBtnTurnsStatus != 'Regulation exceeded' && week.last13Status != 'Regulation exceeded' "
                                class="badge2"> No Rules Break
                            </span>
                        </div>
                    </mat-card>
                </mat-expansion-panel>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loading" id="loader-wrapper">
    <div class="spinner">
        <img src="../../assets/full_logo.png">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>