.showCard {
  height: 150px;
  color: #fff;
  background-color: #0bc;
}
.iconCalendar{
    padding: 12px;
    border-radius: 100%;
    color: white;
    font-size: 20px;
}
 .displayDates{   
   display: flex;
  justify-content: space-between;
}