<!-- <div class="row">
<div class="col-4" *ngFor="let month of months; let i = index">
<mat-card class="mb-3" appMaterialElevation [defaultElevation]="2" raisedElevation="8">
    <mat-card-header (click)="showWeeks(month.id , i);hideme[i] = !hideme[i]">
        <div class="col-3">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
        </div>
        <div class="col-9">
         <h4>{{month.name}}</h4>
        </div>
    </mat-card-header>
    <mat-card-content>
    <div [hidden]="!hideme[i]" class="pt-3">
        <mat-divider></mat-divider>
        <mat-card class="mt-2" appMaterialElevation [defaultElevation]="0" raisedElevation="2" *ngFor="let week of allWeeks" (click)="getWeekDates(week)">
            <b>Week Number : {{week.weekNumber}}</b>
            Start : {{week.weekStartDate | date:shortDate}}
            End : {{week.weekEndDate | date:shortDate}}
        </mat-card>
    </div>
    </mat-card-content>
</mat-card>
</div>
</div> -->
<div class="row">
    <div class="col-4">
        <div *ngFor="let month of months;let i = index">
            <div *ngIf="i == 0 || i == 3 || i == 6 || i == 9">
            <mat-card class="mb-3" appMaterialElevation [defaultElevation]="2" raisedElevation="8">
                <mat-card-header (click)="showWeeks(month.id, i); hideme[i] = !hideme[i]">
                    <div class="col-3">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    </div>
                    <div class="col-9">
                        <h4>{{month.name}}</h4>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div [hidden]="!hideme[i]" class="pt-3">
                        <mat-divider></mat-divider>
                        <mat-card class="mt-2" appMaterialElevation [defaultElevation]="0" raisedElevation="2"
                            *ngFor="let week of allWeeks" (click)="getWeekDates(week)">
                            <p><b>Week Number : {{week.weekNumber}}</b></p>
                            <b>From</b> : {{week.weekStartDate | date:shortDate}} 
                            - <b>To</b> : {{week.weekEndDate | date:shortDate}}
                        </mat-card>
                    </div>
                </mat-card-content>
            </mat-card>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div *ngFor="let month of months;let i = index">
            <div *ngIf="i == 1 || i == 4 || i == 7 || i == 10">
                <mat-card class="mb-3" appMaterialElevation [defaultElevation]="2" raisedElevation="8">
                    <mat-card-header (click)="showWeeks(month.id , i);hideme[i] = !hideme[i]">
                        <div class="col-3">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                        </div>
                        <div class="col-9">
                            <h4>{{month.name}}</h4>
                        </div>
                    </mat-card-header>
                    <mat-card-content>
                        <div [hidden]="!hideme[i]" class="pt-3">
                            <mat-divider></mat-divider>
                            <mat-card class="mt-2" appMaterialElevation [defaultElevation]="0" raisedElevation="2"
                                *ngFor="let week of allWeeks" (click)="getWeekDates(week)">
                                <b>Week Number : {{week.weekNumber}}</b>
                                Start : {{week.weekStartDate | date:shortDate}}
                                End : {{week.weekEndDate | date:shortDate}}
                            </mat-card>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div *ngFor="let month of months;let i = index">
            <div *ngIf="i == 2 || i == 5 || i == 8 || i == 11">
            <mat-card class="mb-3" appMaterialElevation [defaultElevation]="2" raisedElevation="8">
                <mat-card-header (click)="showWeeks(month.id , i);hideme[i] = !hideme[i]">
                    <div class="col-3">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    </div>
                    <div class="col-9">
                        <h4>{{month.name}}</h4>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div [hidden]="!hideme[i]" class="pt-3">
                        <mat-divider></mat-divider>
                        <mat-card class="mt-2" appMaterialElevation [defaultElevation]="0" raisedElevation="2"
                            *ngFor="let week of allWeeks" (click)="getWeekDates(week)">
                            <b>Week Number : {{week.weekNumber}}</b>
                            Start : {{week.weekStartDate | date:shortDate}}
                            End : {{week.weekEndDate | date:shortDate}}
                        </mat-card>
                    </div>
                </mat-card-content>
            </mat-card>
            </div>
        </div>
    </div>

</div>