<h1 mat-dialog-title class="mat-dialog-title light-underline"><i class="fas fa-plus fa-fw"></i>Add Course </h1>
<div mat-dialog-content>
        <mat-form-field class="example-full-width col-6">
                <input matInput placeholder="Course Title" [(ngModel)]='data.title' required cdkFocusInitial>
        </mat-form-field>
        <mat-form-field class="example-full-width col-6">
                <input matInput placeholder="Course Duration" [(ngModel)]='data.duration' required>
        </mat-form-field>
        
  </div>
  <div mat-dialog-actions align="center">
    <button mat-flat-button color="primary" [mat-dialog-close]="data" >
        <i class="fas fa-save fa-fw"></i>
        Save
    </button>
    <!-- <button mat-button (click)="onNoClick()">Cancle</button> -->
  </div>