<div class="row">
    <div class="col-12">
        <div class="row mb-3">
            <div class="col-6">
                <h3 class="page-title p-0">
                    Client
                </h3>
            </div>
            <div class="col-6">
                <button mat-flat-button color="primary" class="pull-right button_hover_effect"
                    (click)="addClientModal()">
                    <i class="fas fa-plus fa-fw"></i>
                   <span> Add Client</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                <div class="card">
                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <div class="card-title">
                            <div class="row table_search">
                                <mat-form-field class="example-full-width col-lg-6 col-md-6">
                                    <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)">
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>
                                <mat-paginator class="col-lg-6 col-md-6" [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>

                            </div>

                        </div>
                        <!--Text-->
                        <div *ngIf="dataSource">
                            <h1>{{dataSource.length}}</h1>
                             <div class="table-responsive">
                                <table mat-table [dataSource]="dataSource" matSort class="table table-borderless">

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="name">
                                        <th class="text-center" mat-header-cell *matHeaderCellDef
                                            mat-sort-header="name"> Name </th>
                                        <td class="mat-table-cell text-center" mat-cell *matCellDef="let client"> {{client.name}} </td>
                                    </ng-container>

                                    <!-- Email Column -->
                                    <ng-container matColumnDef="email">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                                        <td class="mat-table-cell  text-center" mat-cell
                                            *matCellDef="let client; let i = index;"><span
                                                class="badge width-150 {{getRandomColorClass(i)}}"> {{client.email}} </span>
                                        </td>
                                    </ng-container>

                                    <!-- Action Column -->
                                    <ng-container matColumnDef="actions">
                                        <th class="text-center" mat-header-cell *matHeaderCellDef> Action </th>
                                        <td class="mat-table-cell text-center" mat-cell
                                            *matCellDef="let client; let i = index;">
                                            <a class="text-success bold mr-5" (click)="editClientModal(i, client)"
                                            placement="bottom" ngbTooltip="Edit"  tooltipClass="tooltip-class" triggers="hover">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="text-primary bold" routerLink="{{client._id}}"
                                            placement="bottom" ngbTooltip="Details" triggers="hover" tooltipClass="tooltip-class">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </td>
                                    </ng-container>

                                    <thead>
                                        <tr style="background:lightgray;" mat-header-row
                                            *matHeaderRowDef="displayedColumns"></tr>
                                    </thead>
                                    <tbody>
                                        <tr mat-row *matRowDef="let client; columns: displayedColumns;"></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <h3 *ngIf="loading == true" class="text-center text-info pt-3">Loading...<i class="fa fa-cog fa-spin text-info"></i></h3>
                    </div>
                    <!--/.Card content-->

                    <h3 class="text-center text-info pt-3 no_found_msg" *ngIf="loading == false && clients.length < 1">
                        <!-- <i class="fa fa-refresh fa-spin fa-fw"></i> -->
                        No Client Found!
                    </h3>


                </div>
            </div>
        </div>
    </div>
</div>