<h3 class="page-title pl-0">
    My Documents
</h3>
<mat-sidenav-container class="example-container full-height">
    <mat-sidenav #sidenav mode="side" position="end">
        <mat-button class="close_btn text-primary" (click)="sidenav.close()"><i class="fa fa-times-circle-o"
                aria-hidden="true"></i></mat-button>
        <app-file-details [details]="details" (fileDeleted)="fileDeleted($event)"></app-file-details>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-card>
            <app-folder (getFileDetails)="openFileDetails($event)" [deletedFile]="deletedFile"></app-folder>
        </mat-card>
</mat-sidenav-content>
</mat-sidenav-container>