.full-height {
    min-height: 100vh;
}

.title_display {
    font-weight: 500;
    @media (max-width: 575px) {
        min-width: 230px;
        max-width: 230px;
    }
    p {
        font-size: 20px;
        max-width: 300px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
    }
}

.close_btn {
    font-size: 28px;
    @media (max-width: 575px) {
        font-size: 22px;
    }
}