p Hello you have been Alloted Assignment.Below are the Assignment Detail. 

h4 Assignment Details

hr
each Assignment in assignment.assignments
    p Title : #{Assignment.title}
    p Unit No : #{Assignment.unitNo}
    p Assignment No : #{Assignment.assignmentNo}
    hr
