p Hello #{learner.name},you have been added to a #{jobDetail.title} job.Below are the course details. 

h3 Course details

p Title - #{jobDetail.course.title}
p Duration - #{jobDetail.course.duration}


