
h3{
    font-family: 'Source Sans Pro';
    color: $header-color;
    font-weight: regular;
}
thead{
    background-color: $bg-th;
    color:$color-th;
}
th{
    font-family: 'Source Sans Pro';
    text-align: center;    
}
.table td{
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}
.page-title{
    padding: 10px;
}