<!-- <p>file-details works!</p> -->
<!-- <br/> -->
<mat-tab-group>
    <mat-tab label="Details">
        <div class="row icon m-0 py-4">
            <h1 *ngIf="type=='folder'" class="folder_icon"><i class="fa fa-folder-open text-warning"></i></h1>
            <!-- <div class="image" *ngIf="type == 'file' || type == 'material' " [ngClass]="recievedFile.extension"></div> -->
            <div *ngIf="type == 'file' || type == 'material' " class="detail_file_preview" >
                <img src="{{recievedFile.thumbNail}}">
            </div>
        </div>
        <div class="row m-0">
            <div class="col">
            <!-- <h5>Total Files : <span>{{totalFiles}}</span></h5> -->
            <h5>Last Updated At : <span>{{lastUpdate | date:'mediumDate'}}</span></h5>
            <h5>Created At : <span>{{createdAt | date:'mediumDate'}}</span></h5>
            <!-- <h5>Type : <span>{{recievedFile.extension}}</span></h5> -->
            <br />

            <!-- Type:{{type}} -->
            
            <mat-form-field *ngIf="type=='folder'" class="example-full-width" (click)="showSaveBtn()">
                <input matInput placeholder="Title" readonly="{{readOnlyTitle}}" [(ngModel)]="title">
            </mat-form-field>
            <div style="position: relative;">
                <button mat-mini-fab class="mini_btn" color="primary" *ngIf="displaySaveBtn" (click)="saveFolder()"><i
                        class="fa fa-check-circle"></i></button>
            </div>
            
            <div *ngIf="isMaterials == 'material'">
                <div class="drawer_btn">
                    <button mat-stroked-button color="primary" (click)="shareWith()"><i class="fa fa-share-alt"
                            aria-hidden="true"></i> Share</button>
                    <button mat-stroked-button color="warn" (click)="delete()"><i class="fa fa-trash" aria-hidden="true"></i>
                        Delete</button>
                    <button mat-stroked-button class="download_link"><a href="{{path}}" color="dark"><i class="fa fa-download"
                                aria-hidden="true"></i> Download</a></button>
            
                </div>
            </div>
        </div>
        </div>
    </mat-tab>

    <!-- <div *ngIf="currentUser.userRole == admin"> -->
    <mat-tab label="Activity" *ngIf="isMaterials != 'material'">
        <h4 class="shared_with">Shared with:</h4>
        <h6><b>Clients</b></h6>
        <ul>
            <li *ngFor="let client of sharedClient">
                {{client.name}}
            </li>
        </ul>
        <div class="w-100 justify-content-center d-flex mb-4" *ngIf="sharedClient.length < 1" style="color: #2196F3;">Not shared with any clients!</div>
        <h6><b>Instructors</b></h6>
        <ul>
            <li *ngFor="let instructor of sharedInstructor">
                {{instructor.name}}
            </li>
        </ul>
        <div class="w-100 justify-content-center d-flex mb-4" *ngIf="sharedInstructor.length < 1" style="color: #2196F3;">Not shared with any instructors!</div>
        <div class="drawer_btn">
            <button mat-stroked-button color="primary" (click)="shareWith()"><i class="fa fa-share-alt"
                    aria-hidden="true"></i> Share</button>
            <button mat-stroked-button color="warn" (click)="delete()"><i class="fa fa-trash"
                    aria-hidden="true"></i> Delete</button>
            <button mat-stroked-button style="color: brown;"  *ngIf="type == 'folder'"  (click)="downloadAll()"><i class="fa fa-download"
                    aria-hidden="true"></i> Download</button>
                    <button mat-stroked-button style="color: brown;" *ngIf="type == 'file'"><a href="{{path}}"><i
                            class="fa fa-download" aria-hidden="true"></i> Download </a></button>
        </div>
    </mat-tab>
    <!-- </div> -->
</mat-tab-group>