<div class="row m-0">
    <div class="col-12 p-0">
        <!-- <mat-card> -->
        <div class="row" *ngIf="showCreateBtn">
            <div class="col-12">
                <button (click)='createFolder()' mat-flat-button color="primary"
                    class="pull-right button_hover_effect mb-3">
                    <i class="fas fa-plus fa-fw"></i>
                    <span> Create Folder</span>
                </button>
            </div>
        </div>
        <!-- <mat-card-content> -->
        <!-- <div class="folder_tile">
                <mat-card *ngFor="let singleFolder of allFolders; let i = index" style="width: 30%;" (click)="singleFolder()">
                    {{singleFolder.title}}
                </mat-card>
                </div> -->
        <!-- <div *ngFor='let singleFolder of allFolders; let i = index'>
                    <material-tile [folder]='singleFolder' [index]='i' (fileDetailsComp)="openFileDetails($event)">
                    </material-tile>
                </div> -->
        <div class="row parent_row">
            <div class="col materials_box" *ngFor='let singleFolder of allFolders;let i = index'>
                <div class="card p-0 inner-card h-100 text-center" (click)="singleClick($event,singleFolder, i)"
                    id="folder_card_{{i}}" (dblclick)="doubleClick($event,singleFolder)">
                    <mat-card-content class="material_card p-2">
                        <div class="materia_icon_span {{getRandomColorClass(i)}}">
                            <i class="fa fa-folder icon round"></i>
                        </div>
                        <h5 class="materials_title pt-2">{{singleFolder.title}}</h5>
                    </mat-card-content>
                </div>
            </div>
        </div>

        <div class="no-folder text-center" *ngIf="allFolders && allFolders.length == 0">
            <img src="../../assets/folder.png" height="100px" width="100px">
            <h3 class="text-center text-info pt-3 no_found_msg">No Folder Found! </h3>
        </div>

        <!-- </mat-card-content> -->
        <!-- </mat-card> -->
    </div>
    <!-- <div class="col-9" *ngIf="currentUser.userRole != 'admin'">
        <mat-card>
            <div class="row">
                <div class="col-12">
                    <h3>Shared Files</h3>
                </div>
            </div>
            <mat-card-content>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 materials_box" *ngFor="let file of sharedFile"
                        [contextMenu]="basicMenu" [contextMenuSubject]="file">
                        <file-tile [file]="file"></file-tile>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div> -->
    <!-- <div class="col-3" *ngIf="display">
        <app-file-details [details]="details"></app-file-details>
    </div> -->
</div>