<mat-card>
    <div>
        <button style="float: right;" (click)='createFolder()' mat-flat-button color="primary" class="pull-right button_hover_effect">
            <i class="fas fa-plus fa-fw"></i>
            <span> Create Folder</span>
        </button>
    </div>
    <mat-card-content>
        <div class="row">
            <div class="col-xl-2 col-md-4 col-sm-4 materials_box" *ngFor='let singleFolder of allFolders;let i = index' [contextMenu]="basicMenu" [contextMenuSubject]="singleFolder">
                <mat-card class="p-0 inner-card h-100">
                    <mat-card-content class="material_card">
                        <a routerLink="/single-folder/{{singleFolder._id}}" class="text-white">
                            <div class="materia_icon_span {{getRandomColorClass(i)}}">
                            <i class="fa fa-folder icon round"></i>
                            </div>
                            <h5 class="materials_title">{{singleFolder.title}}</h5>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <!-- CONTEXT MENU -->
        <context-menu>
            <ng-template contextMenuItem let-singleFolder (execute)="shareWith($event)">
                <i class="fa fa-share-alt" aria-hidden="true"></i> Share
            </ng-template>
        </context-menu>
    </mat-card-content>
</mat-card>