<h1 mat-dialog-title class="text-primary light-underline mb-2">
    <i class="fas fa-edit fa-fw"></i>
    Edit Instructor
</h1>
<form #editInstructor (ngSubmit)="doSubmit()">
    <div mat-dialog-content>
         <div *ngIf="instructorData.profilePic" class="modal_preview">
             <img src="{{instructorData.profilePic.path}}">
         </div>
        <mat-form-field class="example-full-width col-sm-6">
            <input required matInput name="instructor-name" placeholder="Instructor Name"
                [(ngModel)]='instructorData.name' cdkFocusInitial>
        </mat-form-field>

        <mat-form-field class="example-full-width col-sm-6">
            <input type="email" matInput placeholder="Instructor Email" name="instructor-email"
                [(ngModel)]='instructorData.email'>
        </mat-form-field>

        <label class="input-file-button example-full-width col-sm-6" for="hello"><span>Profile</span>
            <input type="file" name="profile-file" id="hello" accept=".jpeg, .jpg, .png, .gif"
                [(ngModel)]="instructorData.profile" required="required" (change)="addProfileImage($event)">
        </label>

        <div class="col-md-6" *ngIf="url1">
            <img [src]="url1" height="50px" width="50px">
        </div>

        <mat-form-field class="example-full-width col-sm-6">
            <input type="email" matInput placeholder="Instructor Mobile" name="instructor-mobile"
                [(ngModel)]='instructorData.mobile'>
        </mat-form-field>

        <mat-form-field class="example-full-width col-sm-6">
            <input [type]="show ? 'text' : 'password'" matInput placeholder="Instructor Password"
                name="instructor-password" [(ngModel)]='instructorData.password'>
            <span toggle="#password-field" id="password" class="fa fa-fw fa-eye-slash field-icon toggle-password"
                (click)="password()"></span>
        </mat-form-field>

        <mat-form-field class="example-full-width col-sm-6">
            <input [type]="show1 ? 'text' : 'password'" matInput placeholder="Confirm Password" name="confirm-password"
                [(ngModel)]='instructorData.confirmPassword'>
            <span toggle="#password-field" id="cpassword" class="fa fa-fw fa-eye-slash field-icon toggle-password"
                (click)="cpassword()"></span>
        </mat-form-field>

        <mat-form-field class="example-full-width col-sm-6">
            <input matInput [matDatepicker]="dateOfJoining" [(ngModel)]="instructorData.dateOfJoining"
                [ngModelOptions]="{standalone: true}" placeholder="Input disabled" disabled required>
            <mat-datepicker-toggle matSuffix [for]="dateOfJoining"></mat-datepicker-toggle>
            <mat-datepicker #dateOfJoining disabled="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width col-sm-6">
            <input required matInput name="qulification-title" placeholder="Qulification Title"
                [(ngModel)]='instructorData.qualificationTitle' cdkFocusInitial>
        </mat-form-field>

        <!-- <div>
            <tag-input [(ngModel)]="instructorData.competencies" name="instructor-competencies"
                placeholder="Instuctor competencies" [modelAsStrings]="true">
            </tag-input>
        </div> -->


        <mat-form-field class="example-full-width col-sm-6">
            <input matInput [matDatepicker]="dateOfExpire" [(ngModel)]="instructorData.validUntil"
                [ngModelOptions]="{standalone: true}" placeholder="Date Of Expire">
            <mat-datepicker-toggle matSuffix [for]="dateOfExpire"></mat-datepicker-toggle>
            <mat-datepicker #dateOfExpire disabled="false"></mat-datepicker>
        </mat-form-field>

        <label class="input-file-button example-full-width col-sm-6" for="hello"><span>Upload Image</span>
            <input type="file" name="certificate-file" accept=".jpeg, .jpg, .png, .gif"
                [(ngModel)]="instructorData.certificate" required="required" (change)="addFile($event)">
        </label>

    </div>
    <div class="row">
        <div class="col-12 text-center" *ngIf="passwordMismatch">
            <span class="" style="color:#ff6e40; font-weight: bold;" *ngIf="true">Passwords are different. Please
                re-enter.</span>
        </div>
    </div>

    <div *ngIf="!loading" class="my-1">
        <button mat-flat-button class="button_hover_effect" color="primary" type="submit"><i
                class="fas fa-save fa-fw"></i><span>
                Save</span></button>
        <button *ngIf="currentUser && currentUser.userRole == 'admin'" mat-flat-button type="button" color="warn"
            class="text-white pull-right close_hover_effect" (click)="delete()">
            <i class="fas fa-trash fa-fw"></i>
            <span> Delete</span>
        </button>

    </div>
    <div mat-dialog-actions *ngIf="loading" class="text-center">
        Working... <i class="fas fa-refresh fa-spin"></i>
    </div>

</form>