<div class="card" [ngClass]="{'active-material' : isSelected}">
    <div class="container">
        <!-- NOT EDITING -->
        <div class="row" *ngIf="!editing">
            <div class="col-xl-2 col-sm-2 text-center">

                <span class="btn {{getRandomColorClass()}} text-white fab-item ">
                    <!-- <i *ngIf="material.type=='Reading'" class="fab fa-readme margin-auto"></i> -->
                    <i *ngIf="material.type=='Reading'" class="fas fa-book-reader round"></i>
                    <i *ngIf="material.type != 'Reading'" class="fas fa-clipboard-list icon"></i>
                    <!-- <i *ngIf="material.type != 'Reading'" class="fas fa-clipboard"></i> -->
                </span> 
            </div>
            <div class="col-xl-10 col-sm-10 text-center">
                <div class="row">
                    <div class="col-12 material_title">
                        {{material.title}}
                    </div>
                    <div class="col-12 file_icon justify-content-center">
                        <a mat-button class="text-success" triggers="hover" placement="bottom" ngbTooltip="Edit"  tooltipClass="tooltip-class" (click)="editmaterial()">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a mat-button class="text-warning" triggers="hover" placement="bottom" ngbTooltip="Files"  tooltipClass="tooltip-class" (click)="getMaterialFiles()">
                            <i class="fas fa-copy"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- EDITING  -->
        <div *ngIf="editing" class="row">
            <form>
                <mat-form-field class="col-12">
                    <input matInput name="material-title" placeholder="Material Title" [(ngModel)]='material.title'
                        required cdkFocusInitial>
                    <mat-error>Material title is required</mat-error>
                </mat-form-field>
                <div class='row' *ngIf='material.type == "Assignment"'>
                    <mat-form-field class='offset-1 col-5'>
                        <input matInput name="unitNo" placeholder="Unit Number" [(ngModel)]='material.unitNo' required>
                        <mat-error>Unit Number is required</mat-error>
                    </mat-form-field>
                    <mat-form-field class='col-5'>
                        <input matInput name="assignmentNo" placeholder="Assignment Number"
                            [(ngModel)]='material.assignmentNo' required>
                        <mat-error>Assignment Number is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <button *ngIf="loading" disabled mat-stroked-button color="primary">
                        <i class="fas fa-refresh fa-spin fa-fw"></i>
                    </button>
                    <a mat-button class="text-danger pull-right" (click)="deleteMaterial()">
                        <i class="fas fa-trash"></i>
                    </a>
                    <button *ngIf="!loading" mat-stroked-button (click)="updateMaterial()"
                        color="primary"><i
                            class="fas fa-edit fa-fw"></i><span> Save</span></button>
                </div>
            </form>
        </div>

    </div>
</div>