.fab-item {
  border-radius: 100%;
  padding-top: 1px;
  width: 40px;
  height: 40px;
  text-align: center;
  color: white;
  text-align: center;
  line-height: 40px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}

.active-material{
  background: #cdcdcd !important;
}
@media (max-width:575px){
  .material_title {
    font-size: 14px;
  }
  .file_icon{
    width: 100%;
    display: flex !important;
  }
  .col-sm-2{
    width:20% !important;
  }
  .col-sm-10{
    width: 80% !important;
  }
  .card{
    padding: 15px 0px !important;
  }
}
