<div class="card w-50 m-auto text-center">

    <h1>PLATINUM</h1>
    <h2>RAIL SERVICES</h2>
    <form (ngSubmit)='doSubmit()' [formGroup]="loginForm">
        <mat-form-field class="example-full-width w-100">
            <input matInput name="client-email" placeholder="Email" formControlName="email" required>
            <mat-error>Email is required</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width w-100">
            <input matInput name="password" placeholder="Password" type="password" formControlName="password" required>
            <mat-error>Password is required.</mat-error>
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit">
            login
        </button>
    </form>
    <div class="col-6">
        <button mat-flat-button color="primary" class="pull-right" (click)="addClientModal()">
            Forgot Password
        </button>
    </div>
</div>