<div class="login_page w-100">
    <div class="login_form m-auto text-center">
        <div class="logo_image">
            <img src="assets/full_logo.png">
        </div>
        <p class="welcome_msg">Welcome back! Please login to your account.</p>
        <form (ngSubmit)='doSubmit()' [formGroup]="loginForm">
            <mat-form-field class="example-full-width w-100">
                <input matInput name="client-email" placeholder="Username" formControlName="email" required>
                <mat-error>Useremail is required</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width w-100">
                <input matInput name="password" placeholder="Password" type="password" formControlName="password"
                    required>
                <mat-error>Password is required.</mat-error>
            </mat-form-field>

            <div class="row py-3 remember_row">
                <div class="col-6">
                    <label class="float-left">
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>
                <div class="col-6">
                    <a (click)="addClientModal()" class="float-right">
                        Forgot Password
                    </a>
                </div>
            </div>
            <div class="col-md-12">

                <p class="msg_error" style="text-align: center;">{{ errmsg }}</p>
                <p class="msg_success" style="text-align: center;">{{ msg }}</p>

            </div>


            <button mat-flat-button class="btn btn-sm login_btn" type="submit">
                login
            </button>

        </form>
    </div>
</div>