<h3 class="material_main_title">{{assignment.assignment.title}}</h3>

<mat-card class="material_main_card">
    <div class="row m-0">
        <button mat-button (click)="downloadAll()" class="bg-info dwnload_all_btn"><i class="fas fa-download"></i>
            <span> Download All</span></button>
        <h4 mat-dialog-actions align='center' *ngIf="loading" class="text-info pl-3 mt-3">
            Downloading... <i class="fas fa-refresh fa-spin"></i>
        </h4>
    </div>
     

    <div class="row" *ngIf="fileList.length > 0">
        <div class="col-lg-3 col-md-6 col-sm-6 materials_box" *ngFor="let file of fileList">
            <mat-card class="p-0 all_material_block">
                <mat-card-content class="material_card">
                    <div [ngClass]="file.extension"> </div>
                    <h3 class="file_title">{{file.title}}</h3>
                </mat-card-content>
                <div class="download_btn">
                    <a href="{{file.path}}" class="text-white">
                        <i class="fas fa-file-download"></i>Download
                    </a>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row" *ngIf="fileList.length == 0">
        <div class="col-12 materials_box">
            <mat-card>
                <mat-card-header>
                    <h5 class="text-info mb-0">No Files Found!</h5>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
    <mat-card *ngIf="loadingAssignments == true">
        <h3 class="text-center text-info pt-3">Loading...<i class="fa fa-cog fa-spin text-info"></i>
        </h3>
    </mat-card>
   


</mat-card>

<app-learner-submission></app-learner-submission>