.material_card {
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
    height: 100%;
    padding: 16px;
}

.file_title {
    font-size: 15px;
    margin-top: 20px;
}
.download_btn {
    position: absolute;
    bottom: 0;
    z-index: 999;
    height: 0px;
    -webkit-animation: increased 0.2s;
    -moz-animation: increased 0.2s;
    -o-animation: increased 0.2s;
    animation: increased 0.2s;
    animation-fill-mode: forwards;
     display: none;
    // opacity: 0;
     padding: 10px;
     width: 100%;
     text-align: center;
     background-color: #4D4F5C;
     background-image: linear-gradient(#4D4F5C, #0F1012);

     a {
         font-size: 20px;

         i {
             margin-right: 6px;
         }
     }
}

@keyframes increased {
    0% {
        height: 0px;
    }

    30% {
        height: 7px;
    }

    50% {
        height: 15px;
    }

    70% {
        height: 30px;
    }

    100% {
        height: 50px;
    }
}
.material_card:hover {
    background: #D9D9D9;
}
.materials_box{
    &:hover{
        .download_btn{
            display: block !important;
        }
    }
}

.pdf {
    height: 156px;
    width: 156px;
    background-size: 100%;
    background: url('../../../assets/pdf-icon-round.png');
    background-repeat: no-repeat;
}

.ppt {
    height: 156px;
    width: 156px;
    background-size: 100%;
    background: url('../../../assets/icon-powerpoint.png');
    background-repeat: no-repeat;
}

.docx {
    height: 156px;
    width: 156px;
    background-size: 100%;
    background: url('../../../assets/icon-docx.png');
    background-repeat: no-repeat;
}

.doc {
    height: 156px;
    width: 156px;
    background-size: 100%;
    background: url('../../../assets/icon-docx.png');
    background-repeat: no-repeat;
}