<!-- <h3 *ngIf="instructor">{{instructor.name}}</h3>
<h3 *ngIf="instructor">
    <i class="fas fa-mobile-alt"></i>{{instructor.mobile}}</h3>

<div *ngIf="instructor && instructor.profilePic">
    <img src="{{instructor.profilePic.path}}" height="200" width="200">
</div> -->

<div class='row'>
<div class='col-3'>
    <div class='row justify-content-center'>
    <div *ngIf="profilePath" class="profile_image">
        <img src="{{instructor.profilePic.path}}">
    </div>
    
    <div *ngIf="!profilePath" class="profile_image mb-3">
        <img src="../../../assets/Avatar.png">
    </div>
    </div>
    <h4 class="mt-3">Personal details</h4>
    <mat-divider></mat-divider>
    <div class='row mt-2'>
        <mat-card>
            <div >
                <h5 *ngIf="instructor">
                    <i class="fas fa-user-tie fa-fw text-primary mr-1"></i>{{instructor.name}}</h5>
            </div>
            <div >
                <h5 *ngIf="email">
                    <i class="fas fa-envelope text-info mr-1"></i> {{email}}</h5>
                <h4 *ngIf="!email">
                    <i class="fas fa-envelope text-info mr-1"></i>No Email</h4>
            </div>
            <div >
                <h5 *ngIf="mobile">
                    <i class="fas fa-mobile-alt text-warning mr-1"></i> {{mobile}}</h5>
                <h5 *ngIf="!mobile">
                    <i class="fas fa-mobile-alt text-warning mr-1"></i>No mobile</h5>
            </div>
        </mat-card>
    </div>
    <div class='row mt-3'>
        <button mat-flat-button *ngIf="!view" color="primary" (click)="editInstructorModal(i, instructor)">
            <i class="fas fa-pencil-alt"></i>
            <span> Edit Profile</span>
        </button>
    </div>
    <div class="row">
        <mat-card>
            <mat-card-title>
            Competencies
            </mat-card-title>
        </mat-card>
    </div>
</div>
<!-- <div class="card profile_card"> -->

    <!-- <div class="profile_picture_area"> -->
    <!-- <div *ngIf="profilePath" class="profile_image">
        <img src="{{instructor.profilePic.path}}">
    </div>

    <div *ngIf="!profilePath" class="profile_image">
        <img src="../../../assets/Avatar.png">
    </div> -->
    <!-- </div> -->
    <!-- <div class="card-block">
        <div class="row instructor_profile_card">
            <div class="col-md-3 text-center justify-content-center">
                <h4 *ngIf="instructor">
                    <i class="fas fa-user-tie fa-fw text-primary mr-1"></i>{{instructor.name}}</h4>
            </div>
            <div class="col-md-6 text-center justify-content-center">
                <h4 *ngIf="email">
                    <i class="fas fa-envelope text-info mr-1"></i> {{email}}</h4>
                <h4 *ngIf="!email">
                    <i class="fas fa-envelope text-info mr-1"></i>No Email</h4>
            </div>
            <div class="col-md-3 text-center justify-content-center">
                <h4 *ngIf="mobile">
                    <i class="fas fa-mobile-alt text-warning mr-1"></i> {{mobile}}</h4>
                <h4 *ngIf="!mobile">
                    <i class="fas fa-mobile-alt text-warning mr-1"></i>No mobile</h4>
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="row">
    <button mat-flat-button *ngIf="!view" color="primary" class="pull-right button_hover_effect"
        (click)="editInstructorModal(i, instructor)">
        <i class="fas fa-pencil-alt"></i>
        <span>Edit Profile</span>
    </button>
</div> -->
<div class='col-9'>
<div class='row justify-content-end'>
    <div class="col-12">
    <mat-card>
        <app-my-documents></app-my-documents>
    </mat-card>
    </div>
    <!-- <div class="col-3">
    <mat-card>
        <mat-card-title>
            Total Jobs
        </mat-card-title>
    </mat-card>
    </div> -->
</div>
<div class='row'>
<h3>Jobs</h3><button placement="bottom" ngbTooltip="Scheduler" tooltipClass="tooltip-class" class="pull-right cal-button" color="primary" (click)="scheduler(job)"><i class="far fa-calendar-alt"
        ></i></button>
</div>
<div class="row">
    <div class="col-12 ">
        <div class="card demo_changes" >
            <!--Card content-->
            <div class="card-block ">
                <!--Title-->
                <div class="card-title">
                    <div class="row table_search">
                        <mat-form-field class="example-full-width col-lg-6 col-md-6">
                            <input matInput placeholder="Search" [(ngModel)]='searchText'
                                (ngModelChange)='filter(searchText)'>
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                        <mat-paginator class="col-lg-6 col-md-6" [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>
                    </div>
                </div>
                <!--Text-->
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" matSort class="table table-borderless">
                        <div>

                            <!-- SR.No -->
                            <!-- Only Displays 1-5 for every page -->
                            <ng-container matColumnDef="sr.no">
                                <th class="text-center" scope="col" mat-header-cell *matHeaderCellDef> Job Title
                                </th>
                                <td class="mat-table-cell text-center" data-label="Job Title" mat-cell
                                    *matCellDef="let job; let i = index;"> <i class="fas fa-dot-circle fa-fw"
                                        [ngStyle]="{color:job.color }"></i> {{job.title}}
                                </td>
                            </ng-container>


                            <!-- Client Column -->
                            <ng-container matColumnDef="client">
                                <th class="text-center" scope="col" mat-header-cell *matHeaderCellDef> Client
                                </th>
                                <td class="mat-table-cell text-center" data-label="Client" mat-cell
                                    *matCellDef="let job"> {{job.client.name}}
                                </td>
                            </ng-container>

                            <!-- location -->
                            <ng-container matColumnDef="location">
                                <th class="text-center" scope="col" mat-header-cell *matHeaderCellDef> Location
                                </th>
                                <td class="mat-table-cell text-center" data-label="Location" mat-cell
                                    *matCellDef="let job">
                                    {{job.location.title}} </td>
                            </ng-container>

                            <!-- instructor Column -->
                            <ng-container matColumnDef="instructor" class="single_instructor">
                                <th class="text-center" scope="col" mat-header-cell *matHeaderCellDef>
                                    Instructor </th>
                                <td class="mat-table-cell text-center" data-label="Instructor" mat-cell
                                    *matCellDef="let job">
                                    <mat-list align='center' class="justify-content-center">
                                        <mat-list-item class="text-center justify-content-center"
                                            *ngFor='let oneInstructor of job.instructors'>
                                            <i class="fas fa-user-tie fa-fw text-primary mr-1"></i> <span>
                                                {{oneInstructor.name}}</span>
                                        </mat-list-item>
                                    </mat-list>
                                </td>
                            </ng-container>

                            <!-- course Column -->
                            <ng-container matColumnDef="course">
                                <th class="text-center" scope="col" mat-header-cell *matHeaderCellDef> Course
                                </th>
                                <td class="mat-table-cell text-center" data-label="Course" mat-cell
                                    *matCellDef="let job"> {{job.course.title}}
                                </td>
                            </ng-container>

                            <!-- learners Column -->
                            <ng-container matColumnDef="actions">
                                <th class="text-center" scope="col" mat-header-cell *matHeaderCellDef> Action
                                </th>
                                <td class="mat-table-cell text-center" data-label="Actions" mat-cell
                                    *matCellDef="let job">
                                    <a mat-button class="text-primary" placement="bottom" ngbTooltip="Details"  tooltipClass="tooltip-class"
                                        routerLink="/jobs/{{job._id}}">
                                        <!-- <i class="fa fa-users"></i> -->
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </ng-container>

                            <!-- Status Column -->
                            <ng-container matColumnDef="status">
                                <th class="text-center" scope="col" mat-header-cell *matHeaderCellDef> Status
                                </th>
                                <td class="mat-table-cell text-center" data-label="Status" mat-cell
                                    *matCellDef="let job">
                                    {{job.status}}</td>
                            </ng-container>

                            <!-- view Column -->
                            <ng-container matColumnDef="view">
                                <th class="text-center" scope="col" mat-header-cell *matHeaderCellDef> View
                                </th>
                                <td class="mat-table-cell text-center" data-label="View" mat-cell
                                    *matCellDef="let job;let i = index;">
                                </td>
                            </ng-container>

                            <thead class="table_header">
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            </thead>
                            <tbody>
                                <tr mat-row *matRowDef="let job; columns: displayedColumns;"></tr>
                            </tbody>

                        </div>
                    </table>
                </div>
                <h3 *ngIf="loading == true" class="pt-3 text-center text-info">Loading...<i
                        class="fa fa-cog fa-spin text-info"></i></h3>
            </div>
            <!--/.Card content-->

            <h3 class="text-center text-info pt-3 no_found_msg" *ngIf="jobs && jobs.length == 0">
                <i class="fas fa-empty-set"></i>
                No Jobs Assigned!
            </h3>

        </div>
    </div>
</div>
</div>
</div>