<mat-card class="first_card">
    <mat-card-header>
        <h3>Reading Materials</h3>
    </mat-card-header>

    <mat-card-content>
        <div class="row">
            <div class="col-md-3 materials_box" *ngFor='let material of material;let i = index;'>
                <mat-card class="p-0"  (click)="showMaterialFiles(material)">
                    <mat-card-content class="material_card">
                        <span class="{{getRandomColorClass(i)}}"><i class="fas fa-book-reader icon round"></i></span>
                        <h5 class="file_title">{{material.title}}</h5>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-card-content>

</mat-card>

<mat-card>
    <mat-card-header>
    <h3>Assignments</h3>
    </mat-card-header>
    <mat-card-content >
        <div class="row">
            <div class="col-md-3 materials_box" *ngFor='let assignment of assignments;let i = index;'>
                <mat-card class="p-0" (click)="showAllotmentTile(assignment)">
                    <mat-card-content class="material_card">
                        <span class="{{getRandomColorClass(i)}}"><i class="fas fa-clipboard-list icon"></i></span>
                        <h5 class="file_title">{{assignment.assignment.title}}</h5>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <!-- <mat-card *ngFor='let assignment of assignments' (click)="showAllotmentTile(assignment)">
            <i class="fas fa-clipboard-list"></i>
            {{assignment.assignment.title}}
        </mat-card> -->
    </mat-card-content>
</mat-card>
