<div class="row outer_div">
    <div class="col-lg-4">
        <app-profile></app-profile>
    </div>
    <div class="col-lg-8 assignment_column">
        <div *ngIf="loading">
            <h1 class="text-center text-info mt-5">
                Loading... <i class="fas fa-refresh fa-spin"></i>
            </h1>
        </div>
        <div class="row mx-0 exam_row">
            <mat-card class="exam_card">
                <p>Exam-1</p>
                <h1>Pass</h1>
            </mat-card>
            <mat-card class="exam_card fail_card">
                <p>Exam-2</p>
                <h1>Fail</h1>
            </mat-card>
        </div>
        <!-- <h1 class="learner_title">Hello {{learnerName}}!</h1>

<h3 *ngIf="learner && learner.phone">{{learner.phone}}</h3> -->


        <!-- CARD IN PROFILE COMP -->

        <!-- <div class="card profile_card"> -->

        <!-- <div class="profile_picture_area"> -->
        <!-- <div *ngIf="profilePath" class="profile_image">
        <img src="{{profilePath.path}}">
    </div>

    <div *ngIf="!profilePath" class="profile_image">
        <img src="../../../assets/default-user.jpg">
    </div> -->
        <!-- </div> -->
        <!-- <div class="card-block">
        <div class="row instructor_profile_card">
            <div class="col-sm-3 text-center justify-content-center">
                <h4 *ngIf="learnerName">
                    <i class="fas fa-user-tie fa-fw text-primary mr-1"></i>{{learnerName}}</h4>
            </div>
            <div class="col-sm-6 text-center justify-content-center">
                <h4 *ngIf="email">
                    <i class="fas fa-envelope text-info mr-1"></i> {{email}}</h4>
                <h4 *ngIf="!email">
                    <i class="fas fa-envelope text-info mr-1"></i>No email</h4>
            </div>
            <div class="col-sm-3 text-center justify-content-center">
                <h4 *ngIf="mobile">
                    <i class="fas fa-mobile-alt text-warning mr-1"></i> {{mobile}}</h4>
                <h4 *ngIf="!mobile">
                    <i class="fas fa-mobile-alt text-warning mr-1"></i>No mobile</h4>
            </div>
        </div>
    </div>
</div> -->


        <!-- <div class="row" *ngIf="job">
    <div class="col-12"> -->
        <!-- <div class="row m-0">
            <div>
                <h3 class="page-title pl-0">
                    Job: {{job.title}}
                </h3>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-12">
                <div class="card job_card">
                    <div class="card-block">
                        <div class="row mt-4 mb-2">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-4">
                                <div class="learner_detail_box">
                                    <mat-list class="" role="list">
                                        <mat-list-item role="listitem" class="p-0">

                                            <i class="fas text-danger fa-fw fa-user-tie mr-1 text-left"></i>
                                            <div class="learner_title">
                                                Instructor
                                                <p *ngFor="let instructor of job.instructors"> {{instructor.name}}</p>
                                            </div>

                                        </mat-list-item>
                                    </mat-list>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-4">
                                <div class="learner_detail_box">
                                    <mat-list>
                                        <mat-list-item><i class="fas text-primary fa-fw fa-building text-left"></i>
                                            <div class="learner_title">
                                                College
                                                <p> {{job.client.name}}</p>
                                            </div>
                                        </mat-list-item>
                                    </mat-list>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-4">
                                <div class="learner_detail_box">
                                    <mat-list>
                                        <mat-list-item><i
                                                class="fas text-warning fa-fw fa-map-marker-alt text-left"></i>
                                            <div class="learner_title">
                                                Location
                                                <p> {{job.location.title}}</p>
                                            </div>
                                        </mat-list-item>
                                    </mat-list>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-4">
                                <mat-divider [vertical]="true"></mat-divider>
                                <div class="learner_detail_box">
                                    <mat-list>
                                        <mat-list-item><i class="fas text-success fa-fw fa-book text-left"></i>
                                            <div class="learner_title pl-2">
                                                Course
                                                <p> {{job.course.title}}</p>
                                            </div>
                                        </mat-list-item>
                                    </mat-list>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

        <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Reading Materials
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card class="first_card">
        <h3 class="mb-4 learner_card_title">Reading Materials</h3>

        <mat-form-field class="example-full-width col-lg-6 col-md-6">
            <input matInput placeholder="Search" [(ngModel)]="userFilter.title">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-card-content>
            <div class="row" *ngIf='material.length > 0'>
                <div class="col-xl-2 col-md-4 col-sm-4 materials_box"
                    *ngFor='let material of material | filterBy: userFilter;let i = index;'>
                    <mat-card class="p-0 inner-card h-100" (click)="showMaterialFiles(material)">
                        <mat-card-content class="material_card">
                            <span class="materia_icon_span {{getRandomColorClass(i)}}"><i
                                    class="fas fa-book-reader icon round"></i></span>
                            <h5 class="materials_title">{{material.title}}</h5>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="row" *ngIf='loadingMaterials == false && material.length == 0'>
                <div class="col-12 materials_box">
                    <mat-card class="mb-3">
                        <mat-card-header>
                            <h5 class="text-info">No Reading Material Found!</h5>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

</mat-expansion-panel> -->

        <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Assignments
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card class="second_card">
       
        <h3 class="mb-4 learner_card_title">Assignments</h3>

        <mat-form-field class="example-full-width col-lg-6 col-md-6">
            <input matInput [(ngModel)]="searchtext" placeholder="Search">
            <mat-icon matSuffix>search</mat-icon>

        </mat-form-field>

    
        <mat-card-content>
            <div class="row" *ngIf='assignments != undefined'>
                <div class="col-xl-2 col-md-4 col-sm-4 materials_box"
                    *ngFor='let assignment of assignments | search : searchtext;let i = index;'>
                    <mat-card class="p-0 inner-card h-100" (click)="showAllotmentTile(assignment)">
                        <mat-card-content class="material_card">
                            <span class="materia_icon_span {{getRandomColorClass(i)}}"><i
                                    class="fas fa-clipboard-list icon"></i></span>
                            <h5 class="materials_title">{{assignment.assignment.title}}</h5>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="row" *ngIf='assignments == undefined'>
                <div class="col-12 materials_box">
                    <mat-card class="mb-3">
                        <mat-card-header>
                            <h5 class="text-info">No Assignment Found!</h5>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</mat-expansion-panel> -->



        <div class="row assign_row" style="min-width: 100%;">
            <mat-card style="min-width: 100%;">
                <div class='row' style="margin-left: -15px; margin-right: -15px;">

                    <div class="col-md-12">
                        <h3>Assignments</h3>
                    </div>


                    <!-- Serach Bar -->
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>

                    <!-- Pagination-->
                    <div class="col-6 submission_pagination">
                        <mat-paginator class="text-left float-left" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
                    </div>
                </div>


                <div class='row'>
                    <div class="table-responsive">
                        <div *ngIf="dataSource">
                            <h1>{{dataSource.length}}</h1>

                            <table mat-table [dataSource]="dataSource" matSort class="table table-borderless">

                                <!--Assignment Column -->
                                <ng-container matColumnDef="Assignment">
                                    <th class="text-left" mat-header-cell *matHeaderCellDef mat-sort-header>Assignment
                                    </th>
                                    <td class="mat-table-cell text-left" mat-cell
                                        *matCellDef="let allotment; let i = index;">

                                        <a class="btn {{getRandomColorClass(i)}} text-white fab-item ">
                                            <i class="fas fa-clipboard-list"></i>
                                        </a>
                                        Unit- {{allotment.assignment.unitNo}}
                                        Assignment-{{allotment.assignment.assignmentNo}}
                                    </td>
                                </ng-container>


                                <!-- Status Column -->
                                <ng-container matColumnDef="Status">
                                    <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header> Status
                                    </th>
                                    <td class="mat-table-cell text-center m-0" mat-cell
                                        *matCellDef="let assignment; let i = index;">
                                        <div [ngClass]="assignment.status" class="text-center">
                                            <span>{{assignment.status}}</span>
                                        </div>
                                    </td>
                                </ng-container>

                                <!-- View Column -->
                                <ng-container matColumnDef="View">
                                    <th class="text-center" mat-header-cell *matHeaderCellDef> View </th>
                                    <td class="mat-table-cell text-center" mat-cell
                                        *matCellDef="let allotment; let i = index;">
                                        <a mat-button class="text-primary bold"
                                        placement="bottom" ngbTooltip="Details"  tooltipClass="tooltip-class"
                                            routerLink="/learnerAllotment/{{allotment._id}}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </ng-container>

                                <thead>
                                    <tr style="background:lightgray;" mat-header-row
                                        *matHeaderRowDef="displayedColumns"></tr>
                                </thead>
                                <tbody>
                                    <tr mat-row *matRowDef="let learner; columns: displayedColumns;"></tr>
                                </tbody>
                            </table>
                            <div class="text-info pt-3 text-center"
                                *ngIf="loadingJobs == false && loadingAssignments == false && loadingLearners == false && learners < 1">
                                No Assignment Allocated!
                            </div>
                            <h3 *ngIf="loadingJobs == true || loadingAssignments == true || loadingLearners == true"
                                class="text-center text-info pt-3">Loading...<i class="fa fa-cog fa-spin text-info"></i>
                            </h3>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <!-- </div> -->
    </div>