<div>
    <div class='row'>
        <h4 *ngIf="assignment">Unit- {{assignment.assignment.unitNo}} Assignment- {{assignment.assignment.assignmentNo}}
        </h4>
    </div>
    <mat-card>
        <div class='row'>
            <div class='col-6'>
                <div class='row'>
                    <div class='col-1'>
                        <button class='uploadBtn' (click)="addFileModal()">
                            <i class="fa fa-cloud-upload fa-2x"></i>
                        </button>
                    </div>
                    <div class="col-3">
                        <h3>Submission</h3>
                    </div>
                </div>
                <mat-card>
                    <file-tile *ngFor="let file of files" (deletedFile)="deletedFile($event)" [file]="file"></file-tile>
                </mat-card>
                <div class="row assignment-status" *ngIf="assignment">
                    <div class="col-md-3">
                        <i class="far fa-clock fa-7x"></i>
                    </div>
                    <div class="col-md-9 p-0">
                        <h1 class="submitted text-center">{{assignment.status}}</h1>
                    </div>
                </div>
            </div>
            <div class='col-6' *ngIf="assignment">
                <h3>Remark by Instructor</h3>
                <div class='row center'>
                    <p>{{assignment.remark}}</p>
                    <h5 *ngIf="!assignment.remark">No Remarks</h5>
                </div>
            </div>
        </div>
    </mat-card>

    <!-- <div *ngIf='displayData.length == "0"'>
        {{learner.name}} Does not have any allocated {{material.title}} <i class="fa fa-frown-o"></i>
    </div> -->