<div>
    <mat-card>
        <div class='row pt-0'>
            <div class='col-xl-6 col-lg-6'>


                <!-- Submission By Name Section -->
                <div class='px-0 pb-0'>
                    <h4 class="submission_by" *ngIf="learner && learner.name">Submission by {{learner.name}}</h4>
                </div>

                <!-- File Upload Section -->
                <div class='row p-0 mb-3'>
                    <div class='col-2 p-0' *ngIf="!hideActions">
                        <button class='uploadBtn' (click)="addFileModal()" placement="bottom" ngbTooltip="Upload" tooltipClass="tooltip-class">
                            <i class="fas fa-cloud-upload-alt"></i>
                        </button>
                    </div>
                    <div class="col-10 p-0">
                        <h3 class="submission d-flex justify-content-left align-items-center h-100">Submission</h3>
                    </div>
                </div>

                <!-- Search Section -->
                <div class='col-12 p-0 d-flex align-items-center'>
                    <span class="mb-0 mr-2"><i class="fas fa-file-alt text-success"></i></span>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>

                <!--Submission Files Section -->
                <div class='row all_file_tile_row' *ngIf="files.length > 0">
                    <div class="table-responsive">
                        <table mat-table [dataSource]="dataSource" matSort class="table table-borderless mb-0 submission_table">
                            <ng-container matColumnDef="Materials">
                                <th class="text-center table_name_tile" mat-header-cell *matHeaderCellDef mat-sort-header="title">
                                    NAME
                                </th>

                                <td class="mat-table-cell text-center" mat-cell *matCellDef="let file">
                                    <div class="row material_tile_row m-0">
                                        <div class='materialsDiaplay w-100'>
                                            <div class="col-12 px-3">
                                                <file-tile (deletedFile)="deletedFile($event)" (openSideNav)="fileDetails($event)" [file]="file">
                                                </file-tile>
                                            </div>
                                        </div>
                                        <div class='row' *ngIf="files.length == 0">
                                            <div class="col-12 p-0">
                                                <mat-card class="text-info">
                                                    No Files Found
                                                </mat-card>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </ng-container>
                            <thead>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns">
                                </tr>
                            </thead>
                            <tbody>
                                <tr mat-row *matRowDef="let instructor; columns: displayedColumns;"></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row assignment-status" *ngIf="assignment">
                    <div class="col-4">
                        <i class="far fa-clock fa-7x"></i>
                    </div>
                    <div class="col-8 p-0">
                        <h1 class="submitted text-center">{{assignment.status}}</h1>
                    </div>
                </div>
            </div>




            <!-- Second Col-6 Remark Section -->

            <div class='col-xl-6 col-lg-6 remark_block' *ngIf="currentUser.userRole == 'learner'">
                <h3 class="mb-4 remark">Remark by Instructor</h3>
                <div class='center p-0'>
                    <p *ngIf="assignment && assignment.remark">{{assignment.remark}}</p>
                    <h5 *ngIf="assignment && !assignment.remark">No Remarks</h5>
                </div>
            </div>

            <div class='col-lg-6 col-lg-6 remark_block' *ngIf="currentUser.userRole != 'learner'">
                <mat-card class="remark_activity_card">
                    <h4>Activity Logs</h4>
                    <mat-card-content *ngIf="olderRemarks.length > 0">
                        <div *ngFor="let remark of olderRemarks" class="remarks_activity">
                            <p>{{remark.text}} </p>
                            <!-- <hr> -->
                            <div class="text_posotion">
                                <h6 class="remark_date">{{remark.date | date:shortDate}}</h6>
                                <h6 class="remark_author">{{remark.author}}</h6>
                            </div>
                            <mat-divider class="spacing"></mat-divider>
                        </div>
                    </mat-card-content>
                    <div *ngIf="olderRemarks.length == 0">
                        No previous remarks found
                    </div>
                </mat-card>

                <div class="col-12 remark_area mt-2">
                    <!-- <form [formGroup]="remark"> -->
                    <!-- Remark Section -->
                    <div class="row">
                        <mat-form-field class="example-full-width" *ngIf="assignment">
                            <textarea rows="4" cols="100" [(ngModel)]='remark' matInput placeholder="Leave a remark"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <div class="col-6 pr-2">
                            <!-- Deadline Date Section -->
                            <mat-form-field *ngIf="assignment && assignment.deadlineDate">
                                <input matInput [matDatepicker]="picker" [(ngModel)]='deadlineDate' placeholder="Due date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker [startAt]="deadlineDate"></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-6 pl-2">
                            <!-- Status -->
                            <mat-form-field>
                                <mat-label>Status</mat-label>
                                <mat-select [(ngModel)]="statusByInstructor">
                                    <mat-option *ngFor="let status of allStatus" [value]="status.name">
                                        {{status.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-divider></mat-divider>


                    <div class="row mt-4 mx-0">
                        <!-- <div class='col-6'>
                                <div class="justify-content-center">
                                    <button [disabled]="loading" mat-raised-button
                                        class='btnColorBlue button_hover_effect'
                                        (click)="doSubmit(remark,'Requested for Resubmission')"><i
                                            class='fa fa-bell'></i>
                                        <span> Request Resubmission</span></button>
                                </div>
                            </div> -->
                        <div class="col-6">
                            <div class="d-flex justify-content-end">
                                <button [disabled]="loading" mat-raised-button class='btnColorGreen success_hover_effect' (click)="submit()"><i
                                        class="fas fa-check-double"></i><span>
                                        Submit</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>

        <h3 *ngIf="loading == true" class="text-center text-info pt-3">Loading...<i class="fa fa-cog fa-spin text-info"></i></h3>


    </mat-card>

    <!-- <div *ngIf='displayData.length == "0"'>
        {{learner.name}} Does not have any allocated {{material.title}} <i class="fa fa-frown-o"></i>
    </div> -->