.uploadBtn{
    font-size: xxx-large;
    color:#4fc480;
    background-color: transparent;
    border: transparent;
}
.background{
    background-color: lightgray;
}
.center{
    justify-content: center;
}
.btnColorGreen{
    background-color: #3CC480;
    color: white;
}
.btnColorBlue{
    background-color: #3B86FF;
    color: white;   
}
.chipColor{
    background-color: #3B86FF;
    color: white;
}
div{
    padding: inherit;
}

.assignment-status{
    background-color: #4586FF;
    color: white;
    padding: 10px;
    margin: 1px;
    margin-top: 15px;
}
.submitted{
    margin: 35px 0px;
    font-size: 50px;
}