<mat-card appMaterialElevation [defaultElevation]="1" raisedElevation="5" class="fileView">
    <div class="h-100 justify-content-center" (click)="fileDetails()" style="cursor: pointer;">
        <div class="card-block ">
            <!-- <div class="row m-0">
                <div class="col-12 preview p-0" *ngIf="!isSubmission && ismyDocs"> -->
                    <!-- <img src="{{file.thumbNail}}"> -->
                    <!-- <img src="../../../assets/google-docs.png" onerror="this.src='../../../assets/sample.png';" alt="Missing Image" /> 
                    <mat-divider></mat-divider>
                </div> -->
            <!-- </div> -->
            <div class="row m-0 py-3">
                <div class="col-3">
                    <div class="excxtnsion_img">
                        <img src="http://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif" 
                        onerror="this.src='../../../assets/iconFallBack.png';" alt="Missing Image"
                        [ngClass]="file.extension">
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 text-left">
                    <p class="file_tile_main_area mb-1" placement="bottom-left" ngbTooltip="{{file.alias}}"
                        tooltipClass="tooltip-class" triggers="hover">{{file.alias}}</p>
                        <div class="row text-left align-items-center">
                            <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6 file_title">
        
                                <!-- <b>{{file}}</b> -->
                                <p class="upload_user mb-0" style="font-size: small;" *ngIf="file.uploadedBy">uploaded By:{{file.uploadedBy}}</p>
                                <p class="upload_user mb-0" style="font-size: small;" *ngIf="!file.uploadedBy">uploaded By:ADMIN</p>
                            </div>
                            <!-- <div class="col-12"> -->
                            <div class='col-xl-5 col-lg-6 col-md-6 col-sm-6'>
        
                                <span class="date" title="uploaded At">
                                    {{ file.createdAt | date: 'shortDate' }}</span>
        
                                <a *ngIf="isSubmission" href="{{file.path}}" mat-button class="text-primary" triggers="hover"
                                    placement="bottom" ngbTooltip="Download" tooltipClass="tooltip-class" download>
                                    <i class="fas fa-cloud-download-alt"
                                        style="font-size: large;color:#3CC480;height:21px;width:30px;"></i>
                                </a>
                                <a *ngIf="isSubmission" target="_blank" mat-button class="text-primary" triggers="hover" placement="bottom"
                                    ngbTooltip="preview" tooltipClass="tooltip-class" href='{{pathForPreview}}'>
                                    <i class="fa fa-eye" style="font-size: large;color:#4586FF;height:21px;width:30px;"></i>
                                </a>
        
                                <!-- <button (click)="delete()" placement="bottom" ngbTooltip="Delete"  tooltipClass="tooltip-class"
                                    style='background-color: transparent; border: transparent;'>
                                    <i class="fas fa-trash" style='color:#FF6565;'></i>
                                </button>  -->
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>





<!-- <mat-card appMaterialElevation [defaultElevation]="1" raisedElevation="5" class="fileView mt-2">
    <div class="h-100 justify-content-center" (click)="fileDetails()" style="cursor: pointer;">
        <div class="card-block ">
            <div class="row m-0 align-items-center">
                <div class="col-lg-4 col-md-4 col-sm-4 p-0 thumbnail_preview">
                    <img src="{{file.thumbNail}}" height="80" width="80">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 text-left pl-0">
                    <p class="file_tile_main_area mb-1 pl-3" placement="bottom-left" ngbTooltip="{{file.alias}}"
                        tooltipClass="tooltip-class" triggers="hover">
                        {{file.alias}}
                    </p>
                    <a href="{{file.path}}" mat-button class="text-primary p-0" triggers="hover" placement="bottom" ngbTooltip="Download"
                        tooltipClass="tooltip-class" download>
                        <i class="fas fa-cloud-download-alt" style="font-size: large;color:#3CC480;height:21px;width:30px;"></i>
                    </a>
                    
                    <a mat-button><button (click)="delete()" placement="bottom" ngbTooltip="Delete" tooltipClass="tooltip-class"
                        style='background-color: transparent; border: transparent;'>
                        <i class="fas fa-trash" style='color:#FF6565;'></i>
                    </button></a>
                </div>
                
            </div>
        </div>
    </div>
</mat-card> -->



<!-- <mat-card appMaterialElevation [defaultElevation]="1" raisedElevation="5">
<div class="h-100 justify-content-center px-2 py-1" (click)="fileDetails()" style="cursor: pointer;">
    <div class="card-block ">
        <div class="row">
            <div class="col-12 preview">
                <img src="../../../assets/{{file.title}}.jpg" >
                <mat-divider></mat-divider>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 pl-1"> -->
<!-- <img [ngClass]="file.extension" src="assets/pdf-icon-round.png"> -->
<!-- <div [ngClass]="file.extension"> </div> -->

<!-- </div> -->

<!-- <div class="col-lg-12 col-md-12 col-sm-12 text-left pt-2"> -->
<!-- <div class="col-lg-9 col-md-9 col-sm-9 text-left pl-1"> -->
<!-- <p class="file_tile_main_area mb-1" placement="bottom-left" ngbTooltip="{{file.alias}}"
                    tooltipClass="tooltip-class" triggers="hover">{{file.alias}}</p>
                <div class="row text-left pt-1 align-items-center">
                    <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6 file_title">
                         -->
<!-- <b>{{file}}</b> -->
<!-- <p class="upload_user mb-0" style="font-size: small;">uploaded By:{{file.uploadedBy}}</p>
                    </div> -->
<!-- <div class="col-12"> -->
<!-- <div class='col-xl-5 col-lg-6 col-md-6 col-sm-6'> -->

<!-- <span class="date" title="uploaded At">
                            {{ file.createdAt | date: 'shortDate' }}</span> -->

<!-- <a href="{{file.path}}" mat-button class="text-primary" triggers="hover" placement="bottom" ngbTooltip="Download" tooltipClass="tooltip-class" download>
                            <i class="fas fa-cloud-download-alt"
                                style="font-size: large;color:#3CC480;height:21px;width:30px;"></i>
                        </a>

    <button (click)="delete()" placement="bottom" ngbTooltip="Delete"  tooltipClass="tooltip-class"
                            style='background-color: transparent; border: transparent;'>
                            <i class="fas fa-trash" style='color:#FF6565;'></i>
                        </button> -->
<!-- </div>
                </div>
            </div>
        </div>
    </div>
</div>
</mat-card> -->