.file-type{
    height: 40px;
    width:40px;
}

.pdf{
    height: 40px;
    width:40px;
    background: url('../../../assets/pdf-icon-round.png');
    background-size: 40px;
    background-repeat: no-repeat;
}

.ppt{
    height: 40px;
    width:40px;
    background: url('../../../assets/icon-powerpoint.png');
    background-size: 40px;
    background-repeat: no-repeat;
}

.docx{
    height: 40px;
    width:40px;
    background: url('../../../assets/icon-docx.png');
    background-size: 40px;
    background-repeat: no-repeat;
}

.doc{
    height: 40px;
    width:40px;
    background: url('../../../assets/icon-docx.png');
    background-size: 40px;
    background-repeat: no-repeat;
}

