.file-type{
    height: 40px;
    width:40px;
}

.pdf{
    height: 40px;
    width:40px;
    background: url('../../../assets/pdf-icon-round.png');
    background-size: 40px;
    background-repeat: no-repeat;
}

.ppt{
    height: 40px;
    width:40px;
    background: url('../../../assets/icon-powerpoint.png');
    background-size: 40px;
    background-repeat: no-repeat;
}

.zip{
    height: 40px;
    width:40px;
    background: url('../../../assets/zip.png');
    background-size: 40px;
    background-repeat: no-repeat;
}

.jpg{
    height: 40px;
    width:40px;
    background: url('../../../assets/jpg.png');
    background-size: 40px;
    background-repeat: no-repeat;
}

.jpeg{
    height: 40px;
    width:40px;
    background: url('../../../assets/jpg.png');
    background-size: 40px;
    background-repeat: no-repeat;
}

.png{
    height: 40px;
    width:40px;
    background: url('../../../assets/png.png');
    background-size: 40px;
    background-repeat: no-repeat;
}


.pptx{
    height: 40px;
    width:40px;
    background: url('../../../assets/icon-powerpoint.png');
    background-size: 40px;
    background-repeat: no-repeat;
}

.mp4{
    height: 40px;
    width:40px;
    background: url('../../../assets/icon-powerpoint.png');
    background-size: 40px;
    background-repeat: no-repeat;
}

.docx{
    height: 40px;
    width:40px;
    background: url('../../../assets/icon-docx.png');
    background-size: 40px;
    background-repeat: no-repeat;
}

.mp4{
    height: 40px;
    width:40px;
    background: url('../../../assets/mp4icon.png');
    background-size: 40px;
    background-repeat: no-repeat;
}

.xls{
    height: 40px;
    width:40px;
    background: url('../../../assets/xlsx.png');
    background-size: 40px;
    background-repeat: no-repeat;
}

.xlsx{
    height: 40px;
    width:40px;
    background: url('../../../assets/xlsx.png');
    background-size: 40px;
    background-repeat: no-repeat;
}

.txt{
    height: 40px;
    width:40px;
    background: url('../../../assets/txt.png');
    background-size: 40px;
    background-repeat: no-repeat;
}


.doc{
    height: 40px;
    width: 40px;
    background: url('../../../assets/word-doc-icon.png');
    background-size: 40px;
    background-repeat: no-repeat;
}
@media (max-width:1199){
    .upload_user {
        margin-bottom: 0 !important;
    }
}
@media (max-width:575px){
    .col-2 {
        padding-left: 7px !important;
    }
    .date{
        font-size: 14px !important;
    }
    
}
.file_title{
    b{
        height: 18px;
        width:190px;
        padding: 0;
        overflow: hidden;
        position: relative;
        display: inline-block;
        margin: 0 5px 0 5px;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #000;
    }
}

