<h1 mat-dialog-title class="mat-dialog-title light-underline"><i class="fas fa-plus-circle"></i> Share with...</h1>
<div mat-dialog-content>
    <div class='row'>
        <mat-form-field class='w-100'>
            <input matInput placeholder="Search" [(ngModel)]='searchText' (ngModelChange)='filter(searchText)'>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div class='row'>
        <div class='outerDiv col-12'>
            <div class='col-6'>
                <h4>Instructors</h4>
                <mat-grid-list cols="1" rowHeight='30px'>
                    <mat-grid-tile *ngFor='let instructor of instructors;let i=index;' class='leftAlign'>
                        <mat-checkbox (change)='onInstructorChange($event)' [disabled]="instructor.checked" [(ngModel)]='instructor.checked'
                            [value]='instructor'>{{instructor.name}}
                        </mat-checkbox>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <div class='col-6'>
                <h4>Clients</h4>
                <mat-grid-list cols="1" rowHeight='30px'>
                    <mat-grid-tile *ngFor='let client of clients' class='leftAlign'>
                        <mat-checkbox (change)='onClientChange($event)' [(ngModel)]='client.checked' [disabled]="client.checked"
                            [value]='client'>{{client.name}}</mat-checkbox>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions align="center" *ngIf="!loading">
    <button mat-flat-button color="primary" (click)='share()' class="mb-2 button_hover_effect">
        <i class="fa fa-share-alt fa-fw"></i><span> Share</span>
    </button>
</div>