
<div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <h3 class="page-title" *ngIf="course">
                        Materials for : {{course.title}}
                    </h3>
                </div>
                <div class="col-6">
                    <button mat-flat-button color="primary" class="pull-right"  (click)="addMaterialModal()">
                        <i class="fas fa-plus fa-fw"></i>
                        Add Material
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12 ">
                    <div class="card">
                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                            <div class="card-title">
                                Materials : {{materials.length}}
                                
                            </div>
                            <!--Text-->
                            <div class="row">
                                <div class="col-6">
                                    <material-tile *ngFor="let material of materials" [material]="material" (getFiles)="loadMaterialFiles($event)"  (DeleteMaterial)="deletedMaterial($event)"></material-tile>
                                </div>
                                <div class="col-6" *ngIf="files">
                                    Files Length = {{files}}
                                    <files  [files]="files"></files>
                                </div>
                            </div>
                            <h1 *ngIf="!(materials)" class="text-center"><i class="fa fa-cog fa-spin"></i></h1>
                        </div>
                        <!--/.Card content-->
                        
                        <h1 class="text-center" *ngIf="!materials">
                            <i class="fa fa-refresh fa-spin fa-fw"></i>
                        </h1>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    