.active-material{
    background-color: #ccddee !important;
}
.checkbox{
    display: flex !important;
    align-items: center !important;
    margin-right: 3%;
}
.materialsDiaplay{
    display: flex;
    flex-direction: row-reverse;
    width: 100% !important;

    .col-1{
        justify-content: center !important;
        align-items: center !important;
        display: flex !important;
        height: 100% !important;
    }

}
.page-title{
    font-weight: 400;
}
.material_card{
    .card-title{
        font-size: 18px;
        font-weight: 400;
    }
}
.material_row{
    align-items: center !important;
    h3{
        @media (max-width:575px){
            font-size: 20px;
            padding: 0 !important;
            span{
                display: block;
                margin-top: 10px !important;
            }
        }
    }
}
.mat-badge-medium
{   
    position: relative !important;
     width: fit-content !important;
     @media (max-width:575px) {
        .mat-badge-content {
            position: absolute !important;
            top: -20px !important;
            margin-top: 10px !important;
            width: 20px !important;
            height: 20px !important;
            line-height: 20px !important;
        }
    }
}
@media (max-width:991px){
    .material_tile_row{
        margin-bottom: 20px;
    }
}
@media (max-width:575px){
    .material_tile_row {
        margin-left: 0px;
        max-height: 300px !important;
    }
}

.table_name_tile{
    opacity: 0 !important;
}
.choose_material{
    margin: 20px 0px;
}
// .all_material_tile{
//     max-height: 500px;
//     overflow-y: scroll;
// }
// tr.mat-header-row {
//     height: 20px;
//     opacity: 0;
// }