.active-material{
    background-color: #ccddee !important;
}
.checkbox{
    display: flex !important;
    align-items: center !important;
    margin-right: 3%;
}
.materialsDiaplay{
    display: flex;
    flex-direction: row-reverse;
}