// Colors
$white : "#ffffff";

#sidemenu{
    width: 260px !important;  
    background: #3E3E3E 0% 0% no-repeat padding-box;
    background-size: cover; 
}

.content-container {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0;
  }

.active-link{
    border-left-style: solid;
    border-left-color: ghostwhite;
    opacity: 1;
    border-left-width: 5px;
}
.bg-nav-item{
    height: 150px;
    padding-top: 55px;
    color: white;
    background: #474747;
}
.side-nav-item{
    background: #474747 0% 0% no-repeat padding-box;
    padding-left: 10px;
    width: 100%;
    text-align: left;
    height: 50px;
    padding-top:8px;
    vertical-align: middle;
    margin-top:3px;
    margin-bottom: 3px;
    color:white;
    border-radius: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    
}

