<app-top-nav [hidden]="isPrint"></app-top-nav>
<!-- *ngIf="!isPrint" -->
<div>
    <div class="sidebar sidebar--Collapse" [hidden]="!currentUser">
        <div class="collapseToggle">
            <span id="toggleIcon" class="fa fa-chevron-left rotate" placement="right" ngbTooltip="{{getToolTip()}}" tooltipClass="tooltip-class"></span>
        </div>
        <ul class="nav nav-sidebar">
            <!-- <li class="bg-nav-item" *ngIf="currentUser && currentUser.userRole=='admin'">
        <a routerLink="/dashboard">
          <i class="far fa-user"></i>
          <span class="menuText"><strong>{{currentUser.name}}</strong></span>
        </a>
      </li>
      <li class="bg-nav-item" *ngIf="currentUser && currentUser.userRole=='instructor'">
        <a routerLink="/instructors/{{currentUser._id}}">
          <i class="far fa-user"></i>
          <span class="menuText"><strong>{{currentUser.name}}</strong></span>
        </a>
      </li>
      <li class="bg-nav-item" *ngIf="currentUser && currentUser.userRole=='client'">
        <a routerLink="/client/{{currentUser._id}}">
          <i class="far fa-user"></i>
          <span class="menuText"><strong>{{currentUser.name}}</strong></span>
        </a>
      </li>
      <li class="bg-nav-item" *ngIf="currentUser && currentUser.userRole=='learner'">
        <a routerLink="/learner/{{currentUser._id}}">
          <i class="far fa-user"></i>
          <span class="menuText"><strong>{{currentUser.name}}</strong></span>
        </a>
      </li> -->
            <li>
                <a *ngIf="currentUser && currentUser.userRole=='admin'" routerLink="/dashboard" routerLinkActive="active-link">
                    <i class="fas fa-fw fa-chalkboard" placement="right" ngbTooltip="{{getToolTipEvent() ? 'Dashboard' : ''}}" tooltipClass="tooltip-sidebar-class"></i>
                    <span class="menuText">Dashboard</span>
                </a>
                <a *ngIf="currentUser && currentUser.userRole=='instructor'" routerLink="/instructors/{{currentUser._id}}" routerLinkActive="active-link">
                    <i class="fas fa-fw fa-user" placement="right" ngbTooltip="{{getToolTipEvent() ? 'Profile' : ''}}" tooltipClass="tooltip-sidebar-class"></i>
                    <span class="menuText">Profile</span>
                </a>
            </li>
            <li>
                <a *ngIf="currentUser && currentUser.userRole=='admin'" routerLink="/courses" routerLinkActive="active-link">
                    <i class="fas fa-fw fa-book" placement="right" ngbTooltip="{{getToolTipEvent() ? 'Courses' : ''}}" tooltipClass="tooltip-sidebar-class"></i>
                    <span class="menuText">Courses</span>
                </a>
            </li>
            <li>
                <a *ngIf="currentUser && currentUser.userRole=='admin'" routerLink="/instructors" routerLinkActive="active-link">
                    <i class="fas fa-fw fa-user-tie" placement="right" ngbTooltip="{{getToolTipEvent() ? 'Instructors' : ''}}" tooltipClass="tooltip-sidebar-class"></i>
                    <span class="menuText">Instructors</span>
                </a>
            </li>
            <li>
                <a *ngIf="currentUser && currentUser.userRole && (currentUser.userRole=='admin' ||currentUser.userRole=='instructor' || currentUser.userRole=='client')" routerLink="/jobs" routerLinkActive="active-link">
                    <i class="fas fa-briefcase" placement="right" ngbTooltip="{{getToolTipEvent() ? 'Jobs' : ''}}" tooltipClass="tooltip-sidebar-class"></i>
                    <span class="menuText">Jobs</span>
                </a>
            </li>
            <li>
                <a *ngIf="currentUser && (currentUser.userRole=='admin' ||currentUser.userRole=='instructor')" routerLink="/submission" routerLinkActive="active-link">
                    <i class="fas fa-clipboard-check" placement="right" ngbTooltip="{{getToolTipEvent() ? 'Submissions' : ''}}" tooltipClass="tooltip-sidebar-class"></i>
                    <span class="menuText">Submissions</span>
                </a>
            </li>
            <li>
                <a *ngIf="currentUser && currentUser.userRole=='admin'" routerLink="/clients" routerLinkActive="active-link">
                    <i class="fas fa-university" placement="right" ngbTooltip="{{getToolTipEvent() ? 'Clients' : ''}}" tooltipClass="tooltip-sidebar-class"></i>
                    <span class="menuText">Clients</span>
                </a>
            </li>
            <li>
                <a *ngIf="currentUser && (currentUser.userRole=='admin' || currentUser.userRole=='instructor')" routerLink="/scheduler" routerLinkActive="active-link">
                    <i class="fas fa-fw fa-calendar-alt" placement="right" ngbTooltip="{{getToolTipEvent() ? 'Scheduler' : ''}}" tooltipClass="tooltip-sidebar-class"></i>
                    <span class="menuText">Scheduler</span>
                </a>
            </li>
            <li>
                <a *ngIf="currentUser && (currentUser.userRole=='admin' || currentUser.userRole=='instructor')" routerLink="/mydocuments" routerLinkActive="active-link">
                    <i class="fas fa-folder" placement="right" ngbTooltip="{{getToolTipEvent() ? 'My Documents' : ''}}" tooltipClass="tooltip-sidebar-class"></i>
                    <span class="menuText">My Documents</span>
                </a>
            </li>
            <li>
                <a *ngIf="currentUser && (currentUser.userRole=='admin')" routerLink="/admin-time-sheet" routerLinkActive="active-link">
                    <i class="fa fa-list-alt" placement="right" ngbTooltip="{{getToolTipEvent() ? 'Time-sheet' : ''}}" tooltipClass="tooltip-sidebar-class"></i>
                    <span class="menuText">Time-Sheet</span>
                </a>
                <a *ngIf="currentUser && (currentUser.userRole=='instructor')" routerLink="/week-list" routerLinkActive="active-link">
                    <i class="fa fa-list-alt" placement="right" ngbTooltip="{{getToolTipEvent() ? 'Time-sheet' : ''}}" tooltipClass="tooltip-sidebar-class"></i>
                    <span class="menuText">Time-Sheet</span>
                </a>
            </li>
            <li>
                <a *ngIf="currentUser && learnerRouteName && currentUser.userRole=='learner'" routerLink="{{learnerRouteName}}" routerLinkActive="active-link">
                    <i class="fas fa-fw fa-chalkboard"></i>
                    <span class="menuText">Dashboard</span>
                </a>
            </li>
            <li>
                <a *ngIf="currentUser" routerLink="/resetpassword/{{currentUser.userRole}}" routerLinkActive="active-link">
                    <i class="fas fa-unlock-alt" placement="right" ngbTooltip="{{getToolTipEvent() ? 'Reset Password' : ''}}" tooltipClass="tooltip-sidebar-class"></i>
                    <span class="menuText">Reset Password</span>
                </a>
            </li>
            <li>
                <a *ngIf="loggedInUser" (click)="Logout()" routerLinkActive="active-link">
                    <i class="fas fa-sign-out-alt" aria-hidden="true" placement="right" ngbTooltip="{{getToolTipEvent() ? 'Logout' : ''}}" tooltipClass="tooltip-sidebar-class"></i>
                    <span class="menuText">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<mat-sidenav-container >
  <mat-sidenav #sidenav class="margin" mode="side" position="end">
    <div class="d-inline-block w-100">
      <div *ngIf="type == 'folder'" class="float-left title_display">
        <a routerLink="/single-folder/{{fileId}}">
          <p>{{fileTitle}}</p>
        </a>
      </div>
      <div *ngIf="type != 'folder'" class="float-left title_display">
        <p>{{fileTitle}}</p>
      </div>
      <mat-button class="close_btn text-primary float-right" (click)="closeSidnav()"><i class="fa fa-times-circle"
          aria-hidden="true"></i>
      </mat-button>
    </div>
    <app-file-details [details]="details" (fileDeleted)="fileDeleted($event)"
      (titleChanged)="folderTitleChenged($event)"></app-file-details>
  </mat-sidenav>
  <mat-sidenav-content>
<div class="main container-fluid">
    <router-outlet (activate)='onActivate($event)'></router-outlet>
</div>
</mat-sidenav-content>
</mat-sidenav-container>


<!-- <mat-sidenav-container class="content-container" (backdropClick)="close('backdrop')">
  <mat-sidenav id="sidemenu" #sidemenu (keydown.escape)="close('escape')" disableClose>
    <h4 class="bg-nav-item" *ngIf="currentUser && currentUser.userRole=='admin'">
      <i class="far fa-user"></i>
      {{currentUser.name}}</h4>

    <h4 class="bg-nav-item" *ngIf="currentUser && currentUser.userRole=='instructor'"><i class="far fa-user"></i>
      <a routerLink="/instructors/{{currentUser._id}}"> {{currentUser.name}}</a></h4>

    <h4 class="bg-nav-item" *ngIf="currentUser && currentUser.userRole=='client'"><i class="far fa-user"></i>
      <a routerLink="/client/{{currentUser._id}}"> {{currentUser.name}}</a></h4>

    <h4 class="bg-nav-item" *ngIf="currentUser && currentUser.userRole=='learner'"><i class="far fa-user"></i>
      <a routerLink="/learner/{{currentUser._id}}"> {{currentUser.name}}</a></h4>

    <a class="side-nav-item" *ngIf="currentUser && currentUser.userRole=='admin'" routerLink="/dashboard"
      routerLinkActive="active-link" mat-button>
      <i class="fas fa-fw fa-chalkboard"></i>Dashboard
    </a>

    <a class="side-nav-item" *ngIf="currentUser && currentUser.userRole=='admin'" routerLink="/courses"
      routerLinkActive="active-link" mat-button>
      <i class="fas fa-fw fa-book"></i>Course
    </a>

    <a class="side-nav-item" *ngIf="currentUser && currentUser.userRole=='admin'" routerLink="/instructors"
      routerLinkActive="active-link" mat-button>
      <i class="fas fa-fw fa-user"></i>Instructor
    </a>

    <a class="side-nav-item"
      *ngIf="currentUser && currentUser.userRole && (currentUser.userRole=='admin' ||currentUser.userRole=='instructor' || currentUser.userRole=='client')"
      routerLink="/jobs" routerLinkActive="active-link" mat-button>
      <i class="fas fa-university"></i> Job
    </a>


    <a class="side-nav-item" *ngIf="currentUser && (currentUser.userRole=='admin' ||currentUser.userRole=='instructor')"
      routerLink="/submission" routerLinkActive="active-link" mat-button>
      <i class="fas fa-clipboard-check"></i>Submission
    </a>

    <a class="side-nav-item" *ngIf="currentUser && currentUser.userRole=='admin'" routerLink="/clients"
      routerLinkActive="active-link" mat-button>
      <i class="fas fa-fw fa-users"></i> Client
    </a>

    <a class="side-nav-item"
      *ngIf="currentUser && (currentUser.userRole=='admin' || currentUser.userRole=='instructor')"
      routerLink="/scheduler" routerLinkActive="active-link" mat-button>
      <i class="fas fa-fw fa-calendar-alt"></i>Scheduler
    </a>


    <a class="side-nav-item" routerLink="/mydocuments" routerLinkActive="active-link" mat-button>
      <i class="fas fa-folder"></i>My Documents
    </a>


    <a class="side-nav-item" *ngIf="currentUser && learnerRouteName && currentUser.userRole=='learner'"
      routerLink="{{learnerRouteName}}" routerLinkActive="active-link" mat-button>
      <i class="fas fa-fw fa-chalkboard"></i>Dashboard
    </a>

    <a class="side-nav-item" *ngIf="currentUser" routerLink="/resetpassword/{{currentUser.userRole}}"
      routerLinkActive="active-link" mat-button>
      <i class="fas fa-unlock-alt"></i>Reset Password
    </a>


    <a class="side-nav-item" *ngIf="loggedInUser" (click)="Logout()" routerLinkActive="active-link" mat-button>
      <i class="fas fa-sign-out-alt" aria-hidden="true"></i>Logout
    </a>
  </mat-sidenav>

  <mat-sidenav-content style="background-color:#FAFAF7">
    <div class="container" style="padding-top:25px ;">
      <router-outlet></router-outlet>
    </div>
    <footer>
      <h1>&nbsp;</h1>
    </footer>

  </mat-sidenav-content>
</mat-sidenav-container> -->

<div *ngIf="loading" id="loader-wrapper">
    <div class="lds-dual-ring">

    </div>
</div>