<form [formGroup]='dateForm' style='display:flex'>
    <div class='col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6'>
        <h6 class='textCenter headerColor'>Choose frequency</h6>
        <div class='row'>
            <div class='col-2'></div>
            <div class='col-10 checkBox'>
                <label formArrayName="frequency" *ngFor="let day of dateForm.controls.frequency.controls; let i = index">
                    <input type="checkbox" [disabled]="frequencyDays[i].disabled" [ngModelOptions]="{standalone: true}"
                        [ngModel] (ngModelChange)="generateDates($event,i,frequencyDays[i].day)">
                    {{frequencyDays[i].day}}
                </label>
            </div>
        </div>
    </div>
    <div class='col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 '>
    <div class='textCenter'>
        <i class="fa fa-calendar faiconColor"></i> <span class='datesColor'> Dates for job</span>
    </div>
    <div class='row'>
        <div class='col-8'>
            <div class='row greyBackground'>
                <div class='col-3 headerColor'>Sr.No.</div>
                <div class='col-9 headerColor'>Date</div>
            </div>
            <div class='maxHeight'>
                <div class='row' *ngFor='let oneDate of finalCourseDates | slice:0:duration; let j = index;'>
                    <div class='col-3 center'>
                        {{j + 1}}
                    </div>
                    <div class='col-9'>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" formControlName="singleJobDates"
                                placeholder='{{oneDate.getDate()}}/{{oneDate.getMonth()+1}}/{{oneDate.getFullYear()}}'
                                (dateChange)='datesForJobChange($event,j)'>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker [startAt]='oneDate'></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>