<form [formGroup]='dateForm' class="date_form row pt-3 m-0">
    <div class='col-md-6'>
        <h6 class='headerColor pb-2'>Choose frequency</h6>
        <div class='row'>
            <div class='col-10 checkBox'>
                <label formArrayName="frequency" *ngFor="let day of dateForm.controls.frequency.controls; let i = index">
                    <!-- <input type="checkbox" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]='frequencyDays[i].checked' (ngModelChange)="generateDates($event,i,frequencyDays[i].day)"> -->
                        <mat-checkbox [ngModelOptions]="{standalone: true}"
                        [(ngModel)]='frequencyDays[i].checked' (ngModelChange)="generateDates($event,i,frequencyDays[i].day)"></mat-checkbox>
                     &nbsp;&nbsp;{{frequencyDays[i].day}}
                </label>
            </div>
        </div>
    </div>
    <div class='col-md-6'>
    <div class='row px-3'>
        <div class="col-lg-6">
            <i class="fa fa-calendar faiconColor"></i> <span class='datesColor'> Dates for job</span>
        </div>
        <div class="col-lg-6">
            <!-- <div class='center'>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" formControlName="startingDate" placeholder="Starting date"
                        (dateChange)='searchDays($event); jobDates.EditDates($event.value, totalDays)'
                        [errorStateMatcher]="matcher">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="addJobForm.controls['startingDate'].hasError('required')">
                        Please select a starting date
                    </mat-error>
                </mat-form-field>
            </div> -->
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <div class='row greyBackground'>
                <div class='col-3 headerColor'>Sr.No.</div>
                <div class='col-9 headerColor'>Date</div>
            </div>
            <div class='maxHeight'>
                <div class='row m-0' *ngFor='let oneDate of finalCourseDates | slice:0:duration; let j = index;'>
                    <div class='col-3 center'>
                        {{j + 1}}
                    </div>
                    <div class='col-9'>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" formControlName="singleJobDates"
                                placeholder='{{oneDate.getDate()}}/{{oneDate.getMonth()+1}}/{{oneDate.getFullYear()}}'>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker [startAt]='oneDate'></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>