<!-- <div class="row"> -->
    <!-- <div class="col-12"> -->
        <div class="row m-0">
            <div class="col-sm-6 client_name">
                <h3 class="page-title p-0" *ngIf="client">
                    {{client.name}}
                </h3>
            </div>
            <div class="col-sm-6 loaction_btn">
                <button mat-flat-button color="primary" class="modal_open" (click)="addLocationModal()">
                    <i class="fas fa-plus fa-fw"></i>
                    Add Location
                </button>
            </div>
        </div>
    <!-- </div> -->
<!-- </div>     -->
<div class="row border-red-200">
    <div class="col-12 ">
        <div class="row" *ngIf="client" [@listAnimation]>
            <div *ngIf="client.locations.length == 0"><h4>No Locations</h4></div>
            <div class="col-lg-4 col-md-4" *ngFor="let location of client.locations"  >
                <location-tab class="locationtab"   [isActive]="false" [(location)]="location" (onDeleted)="deletedLocation($event)"></location-tab>
            </div>
        </div>
        
        <div style="padding:15px " class="col-12 col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="card-title">
                        Learners
                    </div>
                </div>
            </div>
        </div>
    </div>
    