<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <h3 class="page-title">
                    Shipley
                </h3>
            </div>
            <div class="col-6">
            </div>
        </div>
    </div>
</div>    
<div class="row">
    <div class="col-9 ">
        <div class="row">
            <div class="col-4">
                <location-tab [isActive]="true" location="HP Kirkham"></location-tab>
            </div>
            <div class="col-4">
                <location-tab [isActive]="false" location="Shipley"></location-tab>
            </div>
            <div class="col-4">
                <location-tab [isActive]="false" location="FOC"></location-tab>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-block">
                <div class="card-title">
                    Jobs
                </div>
            </div>
        </div>
        
    </div>
</div>
