<p class="material_main_title" *ngIf="folder">{{folder.title}}</p>

<mat-card class="material_main_card">
    <!-- <mat-card-header> -->
    <div class="w-100 d-inline-block">
        <button mat-button (click)="downloadAll()" class="bg-info dwnload_all_btn float-left"><i
                class="fas fa-download"></i><span>
                Download All</span></button>

        <button class='uploadBtn float-right' (click)="addFileModal()">
            <i class="fas fa-cloud-upload-alt"></i>
        </button>

        <h4 mat-dialog-actions class="text-info mt-3 pl-3" align='center' *ngIf="loading">
            Downloading... <i class="fas fa-refresh fa-spin"></i>
        </h4>
        <mat-form-field>
            <input matInput placeholder="Search" [(ngModel)]="searchText" (ngModelChange)="filter()" value="value">
        </mat-form-field>
    </div>

    <!-- </mat-card-header> -->
    <div class="row" *ngIf="fileList && fileList.length > 0">
        <div class="col-lg-3 col-md-6 col-sm-6 materials_box" *ngFor="let file of filesToDisplay" [contextMenu]="basicMenu" [contextMenuSubject]="file">
            <file-tile [file]="file"></file-tile>
            
            <!-- <mat-card class="p-0 all_material_block">
                <mat-card-content class="material_card">
                    <div [ngClass]="file.extension"> </div>
                    <h3 class="file_title">{{file.title}}</h3>
                </mat-card-content>
                <div class="download_btn">
                    <a href="{{file.path}}" class="text-white">
                        <i class="fas fa-file-download"></i><span>Download</span>
                    </a>
                </div>
            </mat-card> -->
        </div>
    </div>
    <button (click)='createFolder()' mat-flat-button color="primary" class="pull-right button_hover_effect mb-3">
        <i class="fas fa-plus fa-fw"></i>
        <span> Create Folder</span>
    </button>
    <div *ngFor="let folder of allFolders" (click)="showFiles(folder)" (dblclick)="doubleClick($event,singleFolder)">
        {{folder.title}}
    </div>
    <!-- CONTEXT MENU -->
    <!-- <context-menu>
        <ng-template contextMenuItem let-singleFolder (execute)="shareWith($event)">
            <i class="fa fa-share-alt" aria-hidden="true"></i> Share
        </ng-template>
        <ng-template contextMenuItem divider="true"></ng-template>
        <ng-template contextMenuItem let-singleFolder (execute)="shareWith($event)">
            <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
        </ng-template>
    </context-menu> -->

    <div class="row" *ngIf="loadingMaterials == false && fileList.length == 0">
        <div class="col-12 materials_box">
            <mat-card>
                <mat-card-header>
                    <h5 class="text-info mb-0">No Files Found!</h5>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
    <mat-card *ngIf="loadingMaterials == true" class="mb-3">
        <h3 class="text-center text-info pt-3">Loading...<i class="fa fa-cog fa-spin text-info"></i>
        </h3>
    </mat-card>
</mat-card>