.material_main_title {
    font-size: 28px;
    color: #43425D;
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: capitalize;
    @media (max-width:575px){
        font-size: 25px;
    }
    @media (max-width:422px){
        font-size: 20px;
        margin-bottom: 10px !important;
        float: none !important;
        text-align: center;
    }
}
.material_main_card{
    padding: 30px 30px 15px;
    margin-bottom: 10px;
}
.materials_box{
    margin-bottom: 30px;
}
.material_card{ 
    text-align: center;
    padding: 16px 16px 0px;
}
.all_material_block {
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    width: 100%;
    height: 100%;
}
.file_title{
    font-size: 15px;
    margin-top: 25px;
}
.download_btn {
    position: absolute;
    bottom: 0;
    z-index: 999;
    height: 0px;
    -webkit-animation: increased 0.2s;
    -moz-animation: increased 0.2s;
    -o-animation: increased 0.2s;
    animation: increased 0.2s;
    animation-fill-mode: forwards;
    display: none;
    // opacity: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: #4D4F5C;
    background-image: linear-gradient(#4D4F5C, #0F1012);

    a {
        font-size: 20px;

        i {
            margin-right: 6px;
        }
    }
}

@keyframes increased {
    0% {
        height: 0px;
    }

    30% {
        height: 7px;
    }

    50% {
        height: 15px;
    }

    70% {
        height: 30px;
    }

    80% {
        height: 40px;
    }

    100% {
        height: 50px;
    }
}
.materials_box {
    &:hover {
        .download_btn {
            display: block !important;
        }

        .all_material_block {
            background: #D9D9D9;
            transition: all .3s;
            transition-timing-function: cubic-bezier(1, 0.5, 0.255, 0.05);
        }
    }
}
.dwnload_all_btn {
    border-radius: 20px;
    color: white;
    padding: 8px 25px;
    font-size: 22px;
    margin-bottom: 30px;
    box-shadow: 0px 3px 6px #00000066;
    position: relative;
    transition: all 0.35s;
    span{
        position: relative;
        z-index: 2;
    }
    &:active {
        outline: none !important;
        border: none !important;
    }
    &:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background:#116cb8ee;
        transition: all .35s;
        border-radius: 20px;
    }
    &:hover{
        &:after{
            width: 100%;
        }
    }
    i{
        margin-right: 20px;
        position: relative;
        z-index: 2;
        @media (max-width:575px){
            margin-right: 12px;
        }
    }
    @media (max-width:767px){
        font-size: 20px;
    }
    @media (max-width:575px){
        font-size: 18px;
        padding: 5px 20px;
    }
}

.pdf{
    min-height: 156px;
    min-width: 156px;
    width:100%;
    background: url('../../../assets/pdf-icon-round.png');
    background-repeat: no-repeat;
    background-position:center;
    // background-size:100%;
    @media (max-width:767px){
        min-width: 135px;
        min-height: 135px;
        background-size: contain !important;
    }
    @media (max-width:575px){
        min-width: 120px;
        min-height: 120px;
    }
}

.ppt{
    min-height: 156px;
    min-width: 156px;
    width:100%;
    background: url('../../../assets/icon-powerpoint.png');
    background-repeat: no-repeat;
    background-position:center;
    // background-size:100%;

    @media (max-width:767px) {
        min-width: 135px;
        min-height: 135px;
        background-size: contain !important;
    }
     @media (max-width:575px) {
         min-width: 120px;
         min-height: 120px;
     }
}

.pptx{
    min-height: 156px;
    min-width: 156px;
    width:100%;
    background: url('../../../assets/icon-powerpoint.png');
    background-repeat: no-repeat;
    background-position:center;
    // background-size:100%;

    @media (max-width:767px) {
        min-width: 135px;
        min-height: 135px;
        background-size: contain !important;
    }
     @media (max-width:575px) {
         min-width: 120px;
         min-height: 120px;
     }
}

.docx{
   min-height: 156px;
   min-width: 156px;
   width:100%;
   background: url('../../../assets/icon-docx.png');
   background-repeat: no-repeat;
   background-position:center;
//    background-size:100%;

   @media (max-width:767px) {
       min-width: 135px;
       min-height: 135px;
       background-size: contain !important;
   }
    @media (max-width:575px) {
        min-width: 120px;
        min-height: 120px;
    }
}

.mp4{
    min-height: 156px;
    min-width: 156px;
    width:100%;
    background: url('../../../assets/mp4icon.png');
    background-repeat: no-repeat;
    background-position:center;
 //    background-size:100%;
 
    @media (max-width:767px) {
        min-width: 135px;
        min-height: 135px;
        background-size: contain !important;
    }
     @media (max-width:575px) {
         min-width: 120px;
         min-height: 120px;
     }
 }

.doc{
    min-height: 156px;
    min-width: 156px;
    width:100%;
    background: url('../../../assets/word-doc-icon.png');
    background-repeat: no-repeat;
    background-position:center;
    // background-size:100%;

    @media (max-width:767px) {
        min-width: 135px;
        min-height: 135px;
        background-size: contain !important;
    }
     @media (max-width:575px) {
         min-width: 120px;
         min-height: 120px;
     }
}

.zip{
    min-height: 156px;
    min-width: 156px;
    width:100%;
    background: url('../../../assets/zip.png');
    background-repeat: no-repeat;
    background-position:center;
    // background-size:100%;

    @media (max-width:767px) {
        min-width: 135px;
        min-height: 135px;
        background-size: contain !important;
    }
     @media (max-width:575px) {
         min-width: 120px;
         min-height: 120px;
     }
}

.png{
    min-height: 156px;
    min-width: 156px;
    width:100%;
    background: url('../../../assets/png.png');
    background-repeat: no-repeat;
    background-position:center;
    // background-size:100%;

    @media (max-width:767px) {
        min-width: 135px;
        min-height: 135px;
        background-size: contain !important;
    }
     @media (max-width:575px) {
         min-width: 120px;
         min-height: 120px;
     }
}

.jpg{
    min-height: 156px;
    min-width: 156px;
    width:100%;
    background: url('../../../assets/jpg.png');
    background-repeat: no-repeat;
    background-position:center;
    // background-size:100%;

    @media (max-width:767px) {
        min-width: 135px;
        min-height: 135px;
        background-size: contain !important;
    }
     @media (max-width:575px) {
         min-width: 120px;
         min-height: 120px;
     }
}

.jpeg{
    min-height: 156px;
    min-width: 156px;
    width:100%;
    background: url('../../../assets/jpg.png');
    background-repeat: no-repeat;
    background-position:center;
    // background-size:100%;

    @media (max-width:767px) {
        min-width: 135px;
        min-height: 135px;
        background-size: contain !important;
    }
     @media (max-width:575px) {
         min-width: 120px;
         min-height: 120px;
     }
}

.txt{
    min-height: 156px;
    min-width: 156px;
    width:100%;
    background: url('../../../assets/txt.png');
    background-repeat: no-repeat;
    background-position:center;
    // background-size:100%;

    @media (max-width:767px) {
        min-width: 135px;
        min-height: 135px;
        background-size: contain !important;
    }
     @media (max-width:575px) {
         min-width: 120px;
         min-height: 120px;
     }
}

.xlsx{
    min-height: 156px;
    min-width: 156px;
    width:100%;
    background: url('../../../assets/xlsx.png');
    background-repeat: no-repeat;
    background-position:center;
    // background-size:100%;

    @media (max-width:767px) {
        min-width: 135px;
        min-height: 135px;
        background-size: contain !important;
    }
     @media (max-width:575px) {
         min-width: 120px;
         min-height: 120px;
     }
}

.xls{
    min-height: 156px;
    min-width: 156px;
    width:100%;
    background: url('../../../assets/xlsx.png');
    background-repeat: no-repeat;
    background-position:center;
    // background-size:100%;

    @media (max-width:767px) {
        min-width: 135px;
        min-height: 135px;
        background-size: contain !important;
    }
     @media (max-width:575px) {
         min-width: 120px;
         min-height: 120px;
     }
}

button.uploadBtn {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 35px;
    color: #50b5e5;
}
.breadcrumb-item+.breadcrumb-item{
    &:before{
        display: none !important;
    }
}
.indigo.lighten-4 {
    background-color: #eaebf1 !important;
}
.create-folder{
    @media (max-width:422px){
        float: none !important;
        width: 100%;
        margin-bottom: 20px !important;
    }
}
.col-sm-9{
    @media (max-width:575px){
        max-width: 75% !important;
    }
}
.col-sm-3 {
    @media (max-width:575px) {
        max-width: 25% !important;
        padding: 0 !important;
    }
}
.expansion-row{
    .col{
         min-width: calc(100% / 4);
         max-width: calc(100% / 4);
         @media (max-width:1199px){
            min-width: calc(100% / 3);
            max-width: calc(100% / 3);
         }
         @media (max-width:991px) {
             min-width: calc(100% / 2);
             max-width: calc(100% / 2);
         }
         @media (max-width: 500px){
             min-width: 100%;
             max-width: 100%;
         }
    }
}
.drawer-col-class {
    .col {
        min-width: calc(100% / 3);
        max-width: calc(100% / 3);
        @media (max-width:1199px) {
            min-width: calc(100% / 2);
            max-width: calc(100% / 2);
        }
        @media (max-width:991px) {
            min-width: calc(100% / 2);
            max-width: calc(100% / 2);
        }
         @media (max-width: 500px) {
             min-width: 100%;
             max-width: 100%;
         }
    }
}
.flex_reverse{
    flex-direction: column;
}
@media (max-width:1024px){
    .flex_reverse {
        flex-direction: unset !important;
    }
    .col-md-12{
        max-width: min-content !important;
    }
}