<mat-sidenav-container class="example-container full-height folder_sidenav" autosize>
    <mat-sidenav #sidenav mode="side" position="end">
        <div class="d-inline-block w-100">
            <div class="float-left title_display">
                <a routerLink="/single-folder/{{fileId}}" *ngIf="type == 'folder'">
                    <p>{{fileTitle}}</p>
                </a>
                <p *ngIf="type != 'folder'">{{fileTitle}}</p>
            </div>
            <mat-button class="close_btn text-primary float-right" (click)="closeSidenav()"><i
                    class="fa fa-times-circle" aria-hidden="true"></i>
            </mat-button>
        </div>
        <!-- <mat-button class="close_btn text-primary" (click)="closeSidenav()"><i class="fa fa-times-circle"
                aria-hidden="true"></i></mat-button> 
        <span *ngIf="type == 'folder'"><a routerLink="/single-folder/{{fileId}}"><h4>{{fileTitle}}</h4></a></span>
        <span *ngIf="type == 'file'"><h4>{{fileTitle}}</h4></span> -->
        <app-file-details [details]="details" (fileDeleted)="fileDeleted($event)"
            (titleChanged)="folderTitleChenged($event)"></app-file-details>
    </mat-sidenav>
    <mat-sidenav-content style="padding: 0 10px;">

        <div class="d-inline-block w-100">
            <p class="material_main_title float-left mb-0" *ngIf="folder">{{folder.title}}</p>
            <button (click)='createFolder()' mat-flat-button color="primary"
                class="button_hover_effect mb-0 float-right create-folder">
                <i class="fas fa-plus fa-fw"></i>
                <span> Create Folder</span>
            </button>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb indigo lighten-4">
                <li class="breadcrumb-item"><a class="black-text" routerLink="/mydocuments" *ngIf="folder">My
                        Documents</a><i class="fas fa-angle-right mx-2" aria-hidden="true"></i></li>
                <div *ngIf="navArray">
                    <li class="breadcrumb-item"><a class="black-text" routerLink="/single-folder/{{folder._id}}"
                            *ngFor="let folder of navArray">{{folder.title}}<i class="fas fa-angle-right mx-2"
                                aria-hidden="true"></i></a></li>
                </div>
                <li class="breadcrumb-item"><a class="black-text" *ngIf="folder">{{folder.title}}</a></li>
            </ol>
        </nav>
        <mat-card class="material_main_card">
            <!-- <mat-card-header> -->
            <div class="row flex_row">
                <div class="col-md-4">
                    <button mat-button (click)="downloadAll()" class="bg-info dwnload_all_btn"><i
                            class="fas fa-download"></i><span>
                            Download All</span></button>

                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-9 col-sm-9">
                            <mat-form-field class="w-100" style="padding-left:25px !important;">
                                <input matInput placeholder="Search" [(ngModel)]="searchText" (ngModelChange)="filter()"
                                    value="value">
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 col-sm-3 text-right">
                            <button class='uploadBtn' (click)="addFileModal()">
                                <i class="fas fa-cloud-upload-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>


                <div class="row text-center m-auto">
                    <h4 mat-dialog-actions class="text-info text-center my-3 pl-3 py-3" align='center' *ngIf="loading">
                        Downloading... <i class="fas fa-refresh fa-spin"></i>
                    </h4>
                </div>



                <!-- <div class="row table_search">
            <mat-form-field class="example-full-width col-lg-6 col-md-6">
                <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            
        </div> -->

            </div>
            <div>
                <app-folder [subFolders]="subFolders" (getFileDetails)="openFileDetails($event)"
                    [folderIdFromParams]="folderId" [updatedFolder]="updatedFolder"></app-folder>
            </div>
            <div class="row expansion-row" *ngIf="fileList && fileList.length > 0">
                <div class="col materials_box" *ngFor="let file of filesToDisplay">
                    <file-tile [file]="file" (openSideNav)="openFileDetails($event)"></file-tile>
                </div>
            </div>
            <!-- </mat-card-header> -->

            <!-- <div class="row">
        <div class="col-xl-2 col-md-4 col-sm-4 materials_box" *ngFor='let childFolder of subFolders;let i = index'>
            <mat-card class="p-0 inner-card h-100 text-center" (click)="singleClick($event,childFolder)"
                (dblclick)="doubleClick($event,childFolder)">
                <mat-card-content class="material_card p-2">
                    <div class="materia_icon_span {{getRandomColorClass(i)}}">
                        <i class="fa fa-folder icon round"></i>
                    </div>
                    <h5 class="materials_title pt-2">{{childFolder.title}}</h5>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row" *ngIf="fileList && fileList.length > 0">
        <div class="col-lg-3 col-md-6 col-sm-6 materials_box" *ngFor="let file of filesToDisplay">
            <file-tile [file]="file" (openSideNav)="openFileDetails($event)"></file-tile>
        </div>
    </div>

    <div *ngFor="let folder of allFolders" (click)="showFiles(folder)" (dblclick)="doubleClick($event,folder)">
        {{folder.title}}
    </div>  -->

            <!-- <div class="row" *ngIf="loadingMaterials == false && fileList.length == 0">
                <div class="col-12 materials_box">
                    <mat-card>
                        <mat-card-header>
                            <h5 class="text-info mb-0">No Files Found!</h5>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
            <mat-card *ngIf="loadingMaterials == true" class="mb-3">
                <h3 class="text-center text-info pt-3">Loading...<i class="fa fa-cog fa-spin text-info"></i>
                </h3>
            </mat-card> -->
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>