<h1 mat-dialog-title class="mat-dialog-title light-underline"><i class="fas fa-plus fa-fw"></i>Add Learner </h1>
<form (ngSubmit)='doSubmit()'>
    <div mat-dialog-content>
        <mat-form-field class="example-full-width col-6">
            <input matInput name="learner-name" placeholder="Learner Name" [(ngModel)]='data.name' required cdkFocusInitial>
            <!-- <mat-hint align="end">Not more then 60 characters long.</mat-hint> -->
            <mat-error >Name is required</mat-error>

        </mat-form-field>
        <mat-form-field class="example-full-width col-6">
            <input matInput name="learner-email" placeholder="Learner Email" [(ngModel)]='data.email' required>
            <mat-error >Email is required</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width col-6">
            <input matInput name="password" placeholder="Password" [(ngModel)]='data.password' required>
            <mat-error >Password is required.</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width col-6">
            <input matInput name="confirmPassword" placeholder="Confirm Password" [(ngModel)]='data.confirmPassword' required>
            <mat-error >Confirm Password is required.</mat-error>
        
        </mat-form-field>
    </div>
    <div class="row">
        <!-- <div class="col-4"></div> -->
        <div class="col-12 text-center" *ngIf="passwordMismatch">
                <span class="" style="color:#ff6e40; font-weight: bold;" *ngIf="true">Passwords are different. Please re-enter.</span>

        </div>


    </div>
    <div mat-dialog-actions align="center" *ngIf="!loading"> 
        <button mat-flat-button color="primary" type="submit" >
            <i class="fas fa-save fa-fw"></i>
            Save
        </button>
        <!-- <button mat-button (click)="onNoClick()">Cancle</button> -->
    </div>
    <div mat-dialog-actions align='center' *ngIf="loading">
        Working... <i class="fas fa-refresh fa-spin"></i>
    </div>
</form>