<!-- <div class="row">
    <div class="col-6">
        <h3>
            Marerials
        </h3>
    </div>
    <div class="col-6" style="text-align: end;">
        <h4>Total: X</h4>
    </div>
</div> -->
<div class="row">
    <!-- <div class="row">
        <mat-form-field class="example-full-width col-lg-6 col-md-6">
            <input matInput placeholder="Search" [(ngModel)]='searchText' (ngModelChange)='filter(searchText)'>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <div class="col-6">
            <button mat-flat-button class="pull-right button_hover_effect Button_shap_effact ripple" (click)="addMaterialModal()">
                <i class="fas fa-plus fa-fw"></i>
                <span> Add Material</span>
            </button>
        </div>
    </div> -->
    <div class="col-lg-12 material_flex_paginator">
        <mat-form-field class="example-full-width col-lg-6 col-md-6">
            <input matInput placeholder="Search" min="0" oninput="validity.valid||(value='')" type="number" [(ngModel)]='searchText' (ngModelChange)='filter(searchText)'>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>

    <!-- <div class="col"> -->
        <div class="col-3" *ngFor="let material of allMaterials; let i = index">
            <div class="unitCard materials_box"  (click)="singleMaterial(material)">
                <mat-card class="folder">
                    <mat-card-title>
                        <div class="materia_icon_span {{getRandomColorClass(i)}}">
                            <span class="icon">&#10000;</span>
                        </div>
                        <div class="w-100 justify-content-center d-flex">Unit: {{material._id}}</div>
                    </mat-card-title>
                    <mat-card-content>
                        <div class="w-100 justify-content-between d-flex">
                            <div style="font-size: 12px;">Assignments: {{material.materialsAssignment.length}}</div>
                            <div style="font-size: 12px;">Readings: {{material.materialsReading.length}}</div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    <!-- </div> -->
</div>