.inner_card{
    min-width: 250px !important;
    margin-right: 1.5%;
    cursor: pointer;
}
.cards{
    display: flex;
    flex-direction: row;
}
.outer_card{
    overflow: auto;
    display: flex;
    min-width: 100%;
}
.card-image-2
{
    background-image: url(../../../assets/instructo3.png);
    background-repeat: no-repeat;
    background-position: 0px 25px;
    background-size: 55%;
}
// mat-card-content{
//     color: gray;
// }