<!-- Single Client Component -->
<app-single-client></app-single-client>

<div class="row mb-1">
    <h3 class="page-title">Jobs</h3>
</div>

<!-- Job Selection Cards Section -->
<div class='cards'>
    <mat-card class='outer_card'>
        <mat-card class='inner_card card-image-2' *ngFor='let job of jobs' (click)="jobChanged(job);"
            [ngStyle]="{'background-color':(job._id == selectedJob._id) ? '#A3A0FB' : 'white'}">
            <mat-card-content class="text-right" [ngStyle]="{'color':(job._id == selectedJob._id)?'white':'gray'}">
                <h5 style="font-weight: 600;">{{job.location.title}}</h5>
            </mat-card-content>
            <mat-card-title class="text-right" [ngStyle]="{'color':(job._id == selectedJob._id)?'white':'black'}">
                {{job.numberOfLearners}}
            </mat-card-title>
        </mat-card>
    </mat-card>
</div>

<!-- Job Detail Component -->
<app-job [jobFromClient]='selectedJob' (openFilesSideNav)="openFileDetails($event)"></app-job>