<!-- <p>Welcome {{clientName}}</p> -->
<div class="row mb-3">
    <h3 class="page-title p-0">Jobs</h3>
</div>

<div class='cards mb-3'>
    <mat-card class='outer_card'>
        <mat-card class='inner_card card-image-2' *ngFor='let job of jobs' (click)="jobChanged(job);"
            [ngStyle]="{'background-color':(job._id == selectedJob._id) ? '#A3A0FB' : 'white'}">
            <mat-card-content class="text-right" [ngStyle]="{'color':(job._id == selectedJob._id)?'white':'gray'}">
                <h5 style="font-weight: 600;">{{job.location.title}}</h5>
            </mat-card-content>
            <mat-card-title class="text-right" [ngStyle]="{'color':(job._id == selectedJob._id)?'white':'black'}">
                {{job.numberOfLearners}}
            </mat-card-title>
        </mat-card>
    </mat-card>
</div>
<!-- <app-single-client></app-single-client> -->
<app-job [jobFromClient]='selectedJob'></app-job>
<app-single-client></app-single-client>