<div *ngIf="assignment">
    <div class='row mx-0 mb-4 align-items-center'>
        <div class='col-lg-8'>
            <h1 class="assi_submission">Assignment Submission:
                <span>{{assignment.assignment.title}}</span>
            </h1>
        </div>
        <div class='col-lg-4 assignment_status'>
            <mat-chip-list class="status_clock w-100">
                <i class="fas fa-clock"></i>
                <mat-chip class='chipColor'>{{assignment.status}}</mat-chip>
            </mat-chip-list>
        </div>
    </div>
    <mat-card>
        <div class='px-0 pb-0'>
            <h4 class="submission_by">Submission by {{assignment.learner.name}}</h4>
        </div>
        <div class='row'>
            <div class='col-lg-6 background'>
                <div class='row py-0 align-items-center'>
                    <div class='col-12 p-0 d-flex align-items-center'>
                        <span class="mb-0 mr-2"><i class="fas fa-file-alt text-success"></i></span>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <!-- <div class='col-2 p-0'>
                        <button class='uploadBtn d-flex align-items-center h-100 justify-content-center'>
                            <i class="fas fa-cloud-upload-alt"></i>
                        </button>
                    </div> -->
                </div>

                <div class='row all_file_tile_row' *ngIf="files.length > 0">
                    <table mat-table [dataSource]="dataSource" matSort class="table table-borderless mb-0">
                        <ng-container matColumnDef="Materials">
                            <th class="text-center table_name_tile" mat-header-cell *matHeaderCellDef mat-sort-header="title">
                                NAME
                            </th>

                            <td class="mat-table-cell text-center" mat-cell *matCellDef="let file">
                                <div class="row material_tile_row">
                                    <div class='materialsDiaplay w-100'>
                                        <div class="col-12">
                                            <file-tile (deletedFile)="deletedFile($event)" [file]="file">
                                            </file-tile>
                                        </div>
                                    </div>
                                    <div class='row' *ngIf="files.length == 0">
                                        <div class="col-12 p-0">
                                            <mat-card class="text-info">
                                                No Files Found
                                            </mat-card>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                        <thead>
                            <tr style="background:lightgray;" mat-header-row *matHeaderRowDef="displayedColumns">
                            </tr>
                        </thead>
                        <tbody>
                            <tr mat-row *matRowDef="let instructor; columns: displayedColumns;"></tr>
                        </tbody>
                    </table>
                </div>
            </div>



            <div class='col-lg-6 status_area' *ngIf="assignment.status !== 'Pending'">
                <div class="col-12">
                    <div class="d-flex justify-content-center align-items-center w-100">
                        <button [disabled]="loading" mat-raised-button class='btnColorGreen success_hover_effect' (click)="doSubmit(remark,'Completed')"><i class="fas fa-check-double"></i><span> Mark
                                Completed</span>
                        </button>
                    </div>
                </div>
                <div class="col-12 remark_area">
                    <form [formGroup]="remark">
                        <mat-form-field class="example-full-width">
                            <textarea rows="4" cols="100" [(ngModel)]='assignment.remark' matInput formControlName="remark" placeholder="Leave a remark"></textarea>
                        </mat-form-field>
                        <mat-divider></mat-divider>
                        <div class='mt-3'>
                            <div class="justify-content-center">
                                <button [disabled]="loading" mat-raised-button class='btnColorBlue button_hover_effect' (click)="doSubmit(remark,'Requested for Resubmission')"><i class='fa fa-bell'></i>
                                    <span> Request Resubmission</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- </mat-card> -->
        <h3 *ngIf="loading == true" class="text-center text-info pt-3">Loading...<i class="fa fa-cog fa-spin text-info"></i></h3>
        <div *ngIf='loading == false && !assignment'>
            {{learner}} Does not have any allocated {{material}} <i class="fa fa-frown-o"></i>
        </div>