.uploadBtn{
    font-size: xxx-large;
    color: blue;
    background-color: transparent;
    border: transparent;
}
.background{
    background-color:#D9D9D9;
}
.center{
    justify-content: center;
}
.btnColorGreen{
    background-color: #3CC480;
    color: white;
}
.btnColorBlue{
    background-color: #3B86FF;
    color: white;   
}
.chipColor{
    background-color: #3B86FF;
    color: white;
}
div{
    padding: inherit;
}