<div class="row" style="background: lightblue; padding-top: 10px;">

    <div class="col-12 ">
        <div class="row">
            <div class="col-6">
                <h5 class="h5">Files</h5>
            </div>
            <div class="col-6 text-right">
                <a mat-button class="text-primary" (click)="addFileModal()">
                    <i class="fas fa-plus"></i> Upload File
                </a>

            </div>
        </div>
    </div>
    <div class="col-12">
        <file-tile *ngFor="let file of files" [file]="file"></file-tile>
    </div>
</div>