<div class="row" style="background: lightblue; padding: 10px 0px; margin:20px 0px;">

    <div class="col-12 ">
        <div class="row mb-3 h-100 align-items-center justify-content-center">
            <div class="col-6">
                <h5 class="h5 file">Files</h5>
            </div>
            <div class="col-6 text-right">
                <a mat-button class="text-primary" (click)="addFileModal()">
                    <i class="fas fa-plus"></i><span> Upload File</span>
                </a>

            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="files.length > 0">
        <file-tile *ngFor="let file of files" (deletedFile)="deletedFile($event)" [file]="file">
        </file-tile>
    </div>
    <div class="col-12" *ngIf="files.length == 0">
        <mat-card class="text-info">
            No Files Found!
        </mat-card>
    </div>
</div>