<h1 mat-dialog-title class="text-primary light-underline">
    <i class="fas fa-edit fa-fw"></i> 
    Edit Course 
</h1>
<form #editCourse (ngSubmit)="doSubmit($event)"  >
    <div mat-dialog-content>
        <mat-form-field class="example-full-width col-6">
            <input matInput name="client-name" placeholder="Client Name" [(ngModel)]='data.name' required cdkFocusInitial>
        </mat-form-field>
        <mat-form-field class="example-full-width col-6">
            <input matInput name="client-email" placeholder="Client Email" [(ngModel)]='data.email' required>
        </mat-form-field>
        <mat-form-field class="example-full-width col-6">
            <input matInput name="password" placeholder="Password" [(ngModel)]='data.password' required>
        </mat-form-field>
        <mat-form-field class="example-full-width col-6">
            <input matInput name="confirm-password" placeholder="Confirm Password" [(ngModel)]='data.confirmPassword' required>
        </mat-form-field>
            
    </div>
    <div class="row">
            <!-- <div class="col-4"></div> -->
            <div class="col-12 text-center" *ngIf="passwordMismatch">
                    <span class="" style="color:#ff6e40; font-weight: bold;" *ngIf="true">Passwords are different. Please re-enter.</span>
            </div>
        </div>
    <div  *ngIf="!loading">
                    <button mat-flat-button color="primary" type="submit" ><i class="fas fa-save fa-fw"></i> Save</button>
                    <button mat-flat-button type="button" color="warn" class="text-white pull-right"  (click)="delete()">
                            <i class="fas fa-trash fa-fw"></i> 
                            Delete
                    </button>
                    
    </div>
    <div mat-dialog-actions *ngIf="loading" class="text-center">
            Working... <i class="fas fa-refresh fa-spin"></i>
    </div>
    
</form>