<!-- <div *ngIf='loading == true'>
  loading
</div> -->
<div class="row">
  <div class="col-12">
    <div class="row" *ngIf="displayTitle == true">
      <h3 class="page-title">Scheduler</h3>
    </div>
    <div class="row">
      <div class="col-12 ">
        <div class="card">
          
          <div class="row text-center">
            <div class="col-md-6">
              <div class="btn-group">
                <div
                class="btn btn-primary"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
                >
                Previous
              </div>
              <div
              class="btn btn-outline-secondary"
              mwlCalendarToday
              [(viewDate)]="viewDate"
              >
              Today
            </div>
            <div
            class="btn btn-primary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
            >
            Next
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
      <!-- <div class="col-md-4"> -->
        
        <!-- <h4 class="job_select">JOB</h4>
          <mat-form-field class=" col-6" *ngIf="jobs && viewDropdown == true">
            <mat-select [(ngModel)]="job" style="display: block;" (selectionChange)="jobChanged($event)">
              <mat-option *ngFor="let job of jobs"  [value]='job'>{{job.title}}</mat-option>
              <mat-option *ngIf='jobs.length < 0'>No Jobs Found!</mat-option>
            </mat-select>
        </mat-form-field> -->
        
      <!-- </div> -->
    </div>
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="allevents"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      >
      
    </mwl-calendar-month-view>
    
    <!-- Day View and Week View Code -->
    <div *ngIf=false>
      <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="allevents"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="allevents"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    >
  </mwl-calendar-day-view>
</div>
</div>

</div>
</div>
</div>
</div>

</div>

<!-- MODAL CODE -->
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>
