h3 {
    margin: 0 0 10px;
    @media (max-width:767px){
      font-size: 25px;
    }
    @media (max-width: 575px){
      font-size: 20px;
    }
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }
.job_select{
  @media (max-width:767px){
    font-size: 20px;
  }
  @media (max-width:575px){
    font-size: 18px;
    margin-bottom: 0;
  }
}
@media (max-width:767px) {

  .btn-group{
    margin-bottom: 10px;
  }
  .btn-group-vertical {
    margin-bottom: 10px;
  }
}
.btn-group{
  .btn{
    @media (max-width:575px){
      font-size: 13px;
    }
  }
}
.cdk-overlay-pane{
  width: 100% !important;
}
.drag-active {
        position: relative;
        z-index: 1;
        pointer-events: none;
}
.drag-over {
  background-color: #eee;
}
.new_job_btn{
  padding: 8px 15px 8px 15px;
  font-weight: 500;
  cursor: pointer;
  p{
    margin-bottom: 0px !important;
  }
}
.fa-plus{
  padding-right: 5px;
}