@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@import '~@angular/material/theming';


// @include mat-core();
// $custom-theme-primary: mat-palette($mat-blue, 900);
// $custom-theme-accent:mat-palette($mat-pink, A200, A100, A400);
// $custom-theme-warn: mat-palette($mat-red);
// $custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

// @include angular-material-theme($custom-theme);



$my-theme-primary: mat-palette($mat-blue, 500);
$my-theme-basic: mat-palette($mat-red, 500);
$my-theme-accent: mat-palette($mat-green);
$my-theme-warn: mat-palette($mat-deep-orange, A200);
$my-theme-danger: mat-palette($mat-red, 300);

$my-theme-typography: mat-typography-config(
  $font-family: 'Source Sans Pro, times new roman',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
  
);

@include mat-base-typography($my-theme-typography);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn,
    );

@include angular-material-theme($my-theme);

$bg-th : #F5F6FA;
$color-th:  #A3A6B4;
$header-color: #43425D; 
$light: #555;
.mat-dialog-title{
    color: #3B86FF;
}

.font-sans{
    font-family: 'Source Sans Pro', sans-serif;
}


.font-roboto{
    font-family: 'Roboto', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1 { font-family: 'Source Sans Pro';}
.card{
    padding: 15px;
    box-shadow: 0px 2px 6px #0000002A;

}
.bold{
    font-weight: bold;
}

.badge{
    width: 60px;
    padding:5px;
    border-radius: 15px;
}

$white : white;
.light-underline{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ccc;
}


mat-dialog-container{
    	border-radius: 20px !important;
}
.width{
    .mat-form-field-infix{
        min-width: 70%;
    }
}

.float-right{
    float: right;
}

h3{
    font-family: 'Source Sans Pro';
    color: $header-color;
    font-weight: regular;
}
thead{
    background-color: $bg-th;
    color:$color-th;
}
th{
    font-family: 'Source Sans Pro';
    text-align: center;    
    font-weight:bold !important; 
    font-size: medium;
    vertical-align: middle !important;
}
.table td{
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
}
.page-title{
    padding: 10px;
}
.mat-table-cell{
    height: 50px; 
    vertical-align: middle !important;
}