@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/material-colors/dist/colors.css";
@import '~@angular/material/theming';


// @include mat-core();
// $custom-theme-primary: mat-palette($mat-blue, 900);
// $custom-theme-accent:mat-palette($mat-pink, A200, A100, A400);
// $custom-theme-warn: mat-palette($mat-red);
// $custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

// @include angular-material-theme($custom-theme);



$my-theme-primary: mat-palette($mat-blue, 500);
$my-theme-basic: mat-palette($mat-red, 500);
$my-theme-accent: mat-palette($mat-green);
$my-theme-warn: mat-palette($mat-deep-orange, A200);
$my-theme-danger: mat-palette($mat-red, 300);

$my-theme-typography: mat-typography-config(
$font-family: 'Source Sans Pro, times new roman',
$headline: mat-typography-level(32px, 48px, 700),
$body-1: mat-typography-level(16px, 24px, 500),

);

@include mat-base-typography($my-theme-typography);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$my-theme: mat-light-theme(
$my-theme-primary,
$my-theme-accent,
$my-theme-warn,
);

@include angular-material-theme($my-theme);

$bg-th : #F5F6FA;
$color-th:  #A3A6B4;
$header-color: #43425D; 
$light: #555;
.mat-dialog-title{
    color: #3B86FF;
}

// @font-face {
//     font-family: 'Roboto', sans-serif;
//    src: url(./assets/fonts/roboto/Roboto-Bold.ttf);
//    src: url(./assets/fonts/roboto/Roboto-Light.ttf);
//    src: url(./assets/fonts/roboto/Roboto-Regular.ttf);
//   }

// @font-face {
//     font-family: 'Source Sans Pro', sans-serif;
//    src: url(./assets/fonts/source-sans/SourceSansPro-Bold.ttf);
//    src: url(./assets/fonts/source-sans/SourceSansPro-Light.ttf);
//    src: url(./assets/fonts/source-sans/SourceSansPro-Regular.ttf);
//    src: url(./assets/fonts/source-sans/SourceSansPro-SemiBold.ttf);
//   }



.font-sans{
    font-family: 'Source Sans Pro', sans-serif;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1 { font-family: 'Source Sans Pro';}
.card{
    padding: 15px;
    box-shadow: 0px 2px 6px #0000002A;
    
}
.bold{
    font-weight: bold;
}

.badge{
    width: 60px;
    padding:5px;
    border-radius: 15px;
}

$white : white;
.light-underline{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ccc;
}

.cdk-overlay-pane{
    height: auto !important;
    max-height: 100vh !important;
    // overflow: auto !important;
    padding: 45px 0px !important;
}
mat-dialog-container{
    border-radius: 20px !important;
    height: auto !important;
    box-shadow: none !important;
    .mat-dialog-content{
        max-height: inherit;
    }
}
@media (max-width:575px){
    .mat-dialog-container{
        padding: 15px !important;
    }
}
.width{
    .mat-form-field-infix{
        min-width: 70%;
    }
}

.float-right{
    float: right;
}

h3{
    font-family: 'Source Sans Pro';
    color: $header-color;
    font-weight: regular;
}
thead{
    background-color: $bg-th;
    color:$color-th;
}
th{
    font-family: 'Source Sans Pro';
    text-align: center;    
    font-weight:bold !important; 
    font-size: medium;
    vertical-align: middle !important;
}
.table td{
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
}
.width-150{
    width: 250px !important;
}
.page-title{
    padding: 10px;
}
.mat-table-cell{
    height: 50px; 
    vertical-align: middle !important;
}
.mat-sort-header-container {
    justify-content: center !important;
}
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
    padding: 0 !important;
}
.learner_detail_box {
    .mat-list-base {
        .mat-list-item {
            .mat-list-item-content {
                padding: 0 !important;
            }
        }

        .mat-list-option {
            .mat-list-item-content {
                padding: 0 !important;
            }
        }
    }
}
@media (max-width:767px){
    .mat-paginator-container{
        justify-content: space-between !important;
        padding: 0 !important;
    }
    .mat-paginator-range-label{
        margin: 0 !important;
    }
    .mat-paginator-page-size{
        margin-right: 30px !important;
    }
}
@media (max-width:575px){
    .mat-form-field{
        font-size: 14px !important;
    }
    .mat-dialog-title{
        font-size: 18px !important;
    }
    .page-title{
        font-size: 24px !important;
    }
}
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background{
    background-color: #2196f3;
}
.mat-dialog-content{
    margin: 0 !important;
    padding: 0 !important;
}
.mat-dialog-actions{
    margin-bottom: 0 !important;
}
// .job_select_submission {
    .mat-option-text {
        align-items: center !important;
        justify-content: space-between !important;
        height: 100% !important;
        display: flex !important;
    }
// }
.status_clock {
    .mat-chip-list-wrapper {
        justify-content: flex-end !important;
        width: 100% !important;
        @media (max-width:991px) {
            justify-content: center !important;
        }
    }
}
.add_picker_position{
    color-picker {
        @media (max-width:991px) {
            .color-picker {
                top: 204.297px !important;
                left: auto !important;
            }
        }
    }
}
.edit_color_picker{
    color-picker {
        @media (max-width:991px) {
            .color-picker {
                top: 204.297px !important;
                left: auto !important;
            }
        }
    }
}
.course_select{
    .mat-option-text{
        display: inline-block !important;
        width: 100% !important;
    }
}