<h1 mat-dialog-title><i class="fa fa-plus-circle"></i>Add Job</h1>
<mat-divider></mat-divider>

<form [formGroup]='addJobForm'>
    <div mat-dialog-content class="container">
        <div class='top-margin' mat-dialog-content>
            <div class='row'>
                <div class='col center'>
                    <mat-form-field>
                        <input matInput formControlName="title" placeholder="Job Title">
                    </mat-form-field>
                </div>

                <div class='col center'>
                    <mat-form-field>
                        <input formControlName='jobColor' required [(colorPicker)]="color" matInput
                            [cpOutputFormat]='rgba' [style.background]="color" [(ngModel)]="color"
                            [cpAlphaChannel]="always" placeholder="Choose Color"/>
                    </mat-form-field>
                </div>
            </div>

            <div class='row'>
                <div class='col center'>
                    

                    <mat-form-field>
                        <mat-select placeholder="Client" (selectionChange)="clientChanged($event)" [(value)]="selectedClient">
                            <mat-option *ngFor='let client of clients' [value]='client'>{{client.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            
                <div class='col center'>
                    <mat-form-field *ngIf="selectedClient">
                        <mat-select placeholder="Location" [(value)]='selectedLocation' (selectionChange)="locationChanged($event)">
                            <mat-option *ngFor="let location of selectedClient.locations" [value]="location">{{location.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class='row'>
                <div class='max-height col center'>
                    <div formArrayName="instructor"
                        *ngFor="let item of addJobForm.get('instructor').controls; let i = index;">
                        <div [formGroupName]="i">
                            <div *ngFor='let oneInstructorDetail of selectedInstructor'>
                            <mat-form-field>
                                <mat-select formControlName="singleInstructor"  placeholder="Choose Instructor" [value]='oneInstructorDetail'>
                                    <mat-option *ngFor='let instructor of instructors' [value]='instructor'>
                                        {{instructor.name}}</mat-option> 
                                </mat-select>
                            </mat-form-field>
                            <button class='buttonTransparent' (click)='removeInstructor()'><i
                                    class="fa fa-times close-color"></i> </button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class='row' *ngFor='let oneInstructorDetail of selectedInstructor; let i = index;'>
                        {{oneInstructorDetail}}
                    <mat-form-field >
                        <mat-select placeholder="Choose Instructor" [(value)]='oneInstructorDetail' ngModel>
                            <mat-option *ngFor='let instructor of instructors' [value]='instructor'>
                                {{instructor.name}}</mat-option>
                                {{instructor}}
                        </mat-select>
                    </mat-form-field>
                    <button class='buttonTransparent' (click)='removeInstructor(i)'><i class="fa fa-times close-color"></i> </button>
                    </div> -->
                </div>
                <div class='col center'>
                    <div formArrayName="course" *ngFor="let item of addJobForm.get('course').controls; let i = index;">
                        <div [formGroupName]="i">
                            <mat-form-field>
                                <mat-select formControlName="course" placeholder="Choose Course" (selectionChange)='courseChanged($event); jobDates.clearCheckBoxes()'>
                                    {{selectedCourse}}
                                    <mat-option *ngFor='let course of courses' matTooltip='{{course.title}}'
                                        [value]='course'>
                                        <!-- {{selectedCourse.title}} -->
                                        <span
                                            class="badge position">{{course.duration}}</span> - {{course.title}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col center'>
                    <button mat-flat-button color="primary" class="pull-right buttonHeight" (click)='addInstructor()'><i
                            class="fa fa-user-plus"></i>Add Instructor</button>
                </div>
                <div class='col center'>
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" formControlName="startingDate" placeholder="Starting date"
                            [errorStateMatcher]="matcher" (dateChange)='jobDates.EditDates($event.value, totalDays)'>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <!-- <mat-error *ngIf="addJobForm.controls['startingDate'].hasError('required')">
                            Please select a starting date
                        </mat-error> -->
                    </mat-form-field>
                </div>
            </div>
            <div class='row' style="display: block;">
                <app-job-dates [duration]='duration' [frequency]='totalDays' [singleJobDate]='singleJobDate' [startingDate]='startingDate' #jobDates></app-job-dates>
            </div>
        </div>
    </div>
</form>
<!-- <div class='row' *ngFor='let oneInstructorDetail of selectedInstructor; let i = index;'> -->
                        <!-- {{oneInstructorDetail}} -->
                        <!-- (selectionChange)='instructorChange($event)' -->
                    <!-- <mat-form-field >
                        <mat-select placeholder="Choose Instructor"  [(value)]='oneInstructorDetail'>
                            <mat-option *ngFor='let instructor of instructors' [value]='instructor'>
                                {{instructor.name}}</mat-option>
                                {{instructor}}
                        </mat-select>
                    </mat-form-field>
                    <button class='buttonTransparent' (click)='removeInstructor(i)'><i class="fa fa-times close-color"></i> </button>
</div> -->
<div mat-dialog-actions class="center">
    <div *ngIf="!loading">
        <button mat-flat-button color="primary" (click)='addJob()'><i class="fas fa-save fa-fw"></i> Save</button>
        <button mat-flat-button type="button" color="warn" class="text-white pull-right" (click)="delete()">
            <i class="fas fa-trash fa-fw"></i>
            Delete
        </button>
    </div>
</div>
