<div class="row">
    <div class="col-6 p-0">
        <h3 class="page-title">
            Submissions
        </h3>
    </div>
</div>

<div class="row" style="min-width: 100%;">
    <mat-card style="min-width: 100%;">
        <div class='row' style="margin-left: -15px; margin-right: -15px;">

            <!-- Select Job -->
            <div class='col-xl-3 col-md-3'>
                <mat-form-field class="job_select_submission">
                    <mat-select placeholder='Job' [(ngModel)]='selJob' (selectionChange)='jobChanged($event)'>
                        <mat-option *ngFor='let job of jobs' [value]='job._id'>
                            <span>{{job.title}}</span>
                            <span><i class="far fa-life-ring fa-1x" [style.color]=job.color
                                    style="float:right"></i></span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class='col-xl-3 col-md-3'>
                <!-- <h1>{{selUnit}}</h1> -->
                <mat-form-field>
                    <mat-select placeholder="Unit Number" [disabled]="unit.length == 0" [(ngModel)]='selUnit' (selectionChange)='unitNoChanged($event)'>
                        <span *ngFor='let Unit of unit'>
                            <mat-option [value]='Unit._id'>
                                Unit- {{Unit._id}}
                            </mat-option>
                        </span>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Select Unit Number -->

            <!-- Select Assignment Number -->
            <div class='col-xl-3 col-md-3'>
                <!-- <h1>{{selAss}}</h1> -->
                <mat-form-field>
                    <mat-select [disabled]="assignment.length == 0" placeholder="Assignment Number" name="selectedAssignment" [(ngModel)]="selAss" (selectionChange)='assignmentNoChanged($event)'>
                        <span *ngFor='let assi of assignment'>
                            <mat-option [value]='assi.assignmentId'>
                                Assignment-{{assi.assignmentNo}}
                            </mat-option>
                        </span>
                    </mat-select>
                </mat-form-field>
            </div>



            <!-- Serach Bar -->
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>

            <!-- Select Assignment Status -->
            <div class="row justify-content-between w-100">
                <div *ngFor='let status of assignmentStatus;let i = index'>
                    <div class="col-md-2">
                        <mat-checkbox [(ngModel)]='assignmentStatus[i].checked' (ngModelChange)="selectedStatus($event,i,assignmentStatus[i].status,assignmentStatus[i].display)">
                            {{status.label}}
                        </mat-checkbox>
                    </div>
                </div>
            </div>

            <!-- <div class='col-xl-3 col-md-3'>
                <mat-form-field>
                    <mat-label>Choose Status</mat-label>
                    <mat-select (selectionChange)="statusChanged($event)" multiple>
                        <mat-option *ngFor="let assign of assignmentStatus" [value]="assign.status">{{assign.display}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->

            <!-- Pagination-->
            <div class="col-12 submission_pagination">
                <mat-paginator class="text-left float-right" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
            </div>
        </div>


        <div class='row'>
            <div class="table-responsive">
                <div>
                    <div *ngIf='selJob == undefined && selectedAssignment == undefined' class="msg_text mb-2 text-info text-center">
                        Choose Job to display Assignments
                    </div>



                    <!-- 
                    <div *ngIf='assignment && assignment.length == "0"' class="msg_text mb-2 text-info text-center">
                        No Assignments In This Job!
                    </div> -->


                    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="someMethod($event)" class="table table-borderless">



                        <!-- Name Column -->
                        <ng-container matColumnDef="learnerName" class="learner_name_submission">
                            <th class="text-center justify-content-center" mat-header-cell *matHeaderCellDef mat-sort-header="learnerName"> Name
                            </th>
                            <td class="mat-table-cell name_td align-items-center mx-0 p-0" mat-cell *matCellDef="let learner;let i = index;">
                                <span class="learner pl-4"><i
                                        class="fas fa-user-graduate fa-2x mr-2 {{getRandomColorClass(i)}}"></i><a
                                        routerLink="/learner/{{learner.learnerId}}">{{learner.learnerName}}</a></span>
                            </td>
                        </ng-container>

                        <!--Assignment Column -->
                        <ng-container matColumnDef="Assignment">
                            <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header="displayTitle">Assignment</th>
                            <td class="mat-table-cell text-center" mat-cell *matCellDef="let learner; let i = index;">
                                {{learner.displayTitle}}
                                <!-- Unit-  Assignment-{{learner.assignmentNo}} -->
                            </td>
                        </ng-container>


                        <!-- Status Column -->
                        <ng-container matColumnDef="Status">
                            <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header="assignmentStatus"> Status </th>
                            <td class="mat-table-cell text-center m-0" mat-cell *matCellDef="let learner; let i = index;">
                                <div [ngClass]="learner.assignmentStatus" class="text-center">
                                    <span>{{learner.assignmentStatus}}</span>
                                </div>
                            </td>
                        </ng-container>

                        <!-- View Column -->
                        <ng-container matColumnDef="View">
                            <th class="text-center" mat-header-cell *matHeaderCellDef> View </th>
                            <td class="mat-table-cell text-center" mat-cell *matCellDef="let learner; let i = index;">
                                <a mat-button class="text-primary bold" placement="bottom" ngbTooltip="Details" tooltipClass="tooltip-class" routerLink="/learnerAllotment/{{learner.allotemntId}}">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </td>
                        </ng-container>

                        <thead>
                            <tr style="background:lightgray;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        </thead>
                        <tbody>
                            <tr mat-row *matRowDef="let learner; columns: displayedColumns;"></tr>
                        </tbody>
                    </table>

                    <!-- <h3 *ngIf="loadingJobs == true || loadingAssignments == true || loadingLearners == true"
                        class="text-center text-info pt-3">Loading...<i class="fa fa-cog fa-spin text-info"></i>
                    </h3> -->

                    <div *ngIf="loadingJobs == true || loadingAssignments == true || loadingLearners == true" id="loader-wrapper">
                        <div class="spinner">
                            <img src="../../assets/full_logo.png">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>


                    <div class="text-info pt-3 text-center" *ngIf="learners && learners.length == 0 && !loadingLearners && !loadingAssignments && !loadingJobs">
                        No Learners Found
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>