<!-- <div class='row'>
    <div class='col-12'>
        <div class='row'>
            <div
        </div>
    </div>
</div> -->
<div class="row" style="min-width: 100%;">
    <!-- <div class='card'> -->
    <!-- <div class="row"> -->
    <mat-card style="min-width: 100%;">
        <div class="row">
            <mat-form-field class="col">
                <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
        <div class='row'>
            <!-- <div class='col'>
                <mat-form-field >
                    <mat-select placeholder="Choose a course" (selectionChange)="courseChanged($event)">
                        <mat-option *ngFor='let course of courses' [value]='course'>{{course.title}}</mat-option>
                    </mat-select>
                </mat-form-field>
                </div> -->
            <div class='col'>
                <mat-form-field>
                    <mat-select placeholder='Job' (selectionChange)='jobChanged($event)'>
                        <mat-option *ngFor='let job of jobs' [value]='job'>
                            <span>{{job.title}}-{{job.location.title}}</span>
                            <span><i class="far fa-life-ring fa-1x" [style.color]=job.color
                                    style="float:right"></i></span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- <div class='col'>
                <mat-form-field>
                    <mat-select placeholder="Assignment Title" (selectionChange)='materialChanged($event)'>
                        <span *ngFor='let material of materials'>
                            <mat-option [value]='material'>
                            {{material.title}}
                            </mat-option>
                        </span>
                    </mat-select>
                </mat-form-field> 
                </div> -->
            <!-- <div class='col'>
                    <mat-form-field>
                        <mat-select placeholder="Unit Number" (selectionChange)='unitNoChanged($event)'>
                            <span *ngFor='let unit of unitNo'>
                                <mat-option [value]='unit'>
                                    {{unit}}
                                </mat-option>
                            </span>
                        </mat-select>
                    </mat-form-field>
                </div> -->
            <div class='col'>
                <mat-form-field>
                    <mat-select placeholder="Assignment Number" (selectionChange)='assignmentNoChanged($event)'>
                        <span *ngFor='let assignment of assignment'>
                            <mat-option [value]='assignment.assignmentId'>
                                Unit- {{assignment.assignmentUnit}} Assignment-{{assignment.assignmentNo}}
                            </mat-option>
                        </span>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class='row'>
            <div *ngIf="dataSource">
                <h1>{{dataSource.length}}</h1>
                <div *ngIf='dataSource.data.length == "0"'>
                    Choose Jobs to display learners
                </div>
                <table mat-table [dataSource]="dataSource" matSort class="table table-borderless">

                    <!-- Name Column -->
                    <ng-container matColumnDef="Learner" class='col-4'>
                        <th class="text-center" style="" mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name
                        </th>
                        <td class="mat-table-cell d-flex" mat-cell *matCellDef="let learner">
                            <div class="learner">
                                <i class="fas fa-user-graduate fa-2x"></i>
                            </div>
                            <a routerLink="/learner/{{learner.learnerId}}"> <span>{{learner.learnerName}}</span></a>
                        </td>
                    </ng-container>

                    <!--Assignment Column -->

                    <ng-container matColumnDef="Assignment" class='col-4'>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Assignment</th>
                        <td class="mat-table-cell" mat-cell *matCellDef="let learner; let i = index;">
                            Unit- {{learner.assignmentUnit}} Assignment-{{learner.assignmentNo}}
                        </td>
                    </ng-container>


                    <!-- Status Column -->
                    <ng-container matColumnDef="Status" class='col-4'>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                        <td class="mat-table-cell" mat-cell *matCellDef="let learner; let i = index;">
                            <div [ngClass]="learner.assignmentStatus">
                                <span>{{learner.assignmentStatus}}</span>
                            </div>
                        </td>
                    </ng-container>
                    <!-- View Column -->
                    <ng-container matColumnDef="View" class='col-4'>
                        <th mat-header-cell *matHeaderCellDef> View </th>
                        <td class="mat-table-cell" mat-cell *matCellDef="let learner; let i = index;">
                            <a mat-button class="text-primary bold"
                                routerLink="/submission/learner/{{learner.allotemntId}}">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>
                    </ng-container>
                    <thead>
                        <tr style="background:lightgray;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    </thead>
                    <tbody>
                        <tr mat-row *matRowDef="let learner; columns: displayedColumns;"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mat-card>
</div>