<!-- <p>Competences</p>
<button mat-flat-button
    class="pull-right modal_open button_hover_effect mt-2 ripple Button_shap_effact" (click)="addCompModal()">
    <i class="fas fa-plus fa-fw"></i>
    <span> Add</span>
</button> -->
<div class="row m-0">
    <div class="col-12 responsive-row">
        <div class="row">
            <div class="col-12 ">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title h5 mb-1 d-inline-block w-100"><span
                                class="learner_title">Competences</span>
                            <button
                                mat-flat-button color="primary"
                                class="pull-right button_hover_effect add_learner_btn ripple Button_shap_effact"
                                (click)="addCompModal()">
                                <i class="fas fa-plus fa-fw"></i>
                                <span> Add</span>
                            </button>
                        </div>
                        <div>
                            <div class="table-responsive">
                                <table mat-table [dataSource]="dataSource" matSort class="table table-borderless">
                                    <!-- TITLE -->
                                    <ng-container matColumnDef="title">
                                        <th class="text-center" mat-header-cell *matHeaderCellDef> Title </th>
                                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                                    </ng-container>
                                    <!-- X Date -->
                                    <ng-container matColumnDef="xDate">
                                        <th class="text-center" mat-header-cell *matHeaderCellDef> Expiry Date </th>
                                        <td mat-cell *matCellDef="let element"> {{element.expiryDate}} </td>
                                    </ng-container>
                                    <!-- Valid -->
                                    <ng-container matColumnDef="valid">
                                        <th class="text-center" mat-header-cell *matHeaderCellDef> Valid </th>
                                        <td mat-cell *matCellDef="let element"> YES </td>
                                    </ng-container>
                                    <!-- Attachments -->
                                    <ng-container matColumnDef="attachment">
                                        <th class="text-center" mat-header-cell *matHeaderCellDef> Attachments </th>
                                        <td mat-cell *matCellDef="let element"> {{element.attachment}} </td>
                                    </ng-container>
                                    <!-- Actions -->
                                    <ng-container matColumnDef="action">
                                        <th class="text-center" mat-header-cell *matHeaderCellDef> Actions </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <a mat-button class="text-success" (click)="openFileUpload()" placement="bottom" ngbTooltip="Attachments" triggers="hover"
                                                tooltipClass="tooltip-class">
                                                <i class="fa fa-paperclip"></i>
                                            </a>
                                            <a mat-button class="text-success" (click)="editCompModal()" placement="bottom" ngbTooltip="Edit"
                                                triggers="hover" tooltipClass="tooltip-class">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </ng-container>

                                    <thead>
                                        <tr style="background:lightgray;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    </thead>
                                    <tbody>
                                        <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>