<h3 *ngIf="displayTitle">Single Week Entry</h3>
<mat-card class="mat-elevation-z0" style="padding-bottom: 0%;">
    <div class="row" *ngIf="doGetWeekDates">
        <!-- <input type="text" ngxDaterangepickerMd [drops]="down" placeholder="Choose Dates Range"
            (datesUpdated)="datesSelected($event)" class="form-control dates-chosen" /> -->
    </div>
    <div class="row justify-content-between">
        <div>
            <h5>Total Working Hours:
                <span *ngIf="totalHoursWorked" [ngClass]="checkTotalWorkingHours(totalHoursWorked.hours)">
                    {{totalHoursWorked.hours | number:'2.0'}}:{{totalHoursWorked.minutes | number:'2.0'}}
                </span>
            </h5>
        </div>
        <div>
            <h5>Over Time Hours:
                <span *ngIf="overTimeHours != 0" style="color: red;">{{overTimeHours}}</span>
                <span>{{calculateOverTimeHours() | number:'2.0'}}:{{calculateOverTimeMinutes() | number:'2.0'}}</span>
            </h5>
        </div>
    </div>
</mat-card>

<div class="row">
    <div class="col-12">

        <div class="row">
            <div class="col-12 ">
                <div class="card">
                    <!--Card content-->
                    <div class="card-block">
                        <div class="row justify-content-center m-0">
                            <mat-paginator [pageSizeOptions]="[10, 25, 100]">
                            </mat-paginator>
                        </div>
                        <!--Title-->
                        <!--Text-->
                        <div>
                            <!-- <h1>{{dataSource.length}}</h1> -->
                            <div class="table-responsive">
                                <table mat-table [dataSource]="dataSource" matSort class="table table-borderless">

                                    <!-- Date Column -->
                                    <ng-container matColumnDef="date">
                                        <th class="text-center" mat-header-cell *matHeaderCellDef> Date </th>
                                        <td class="mat-table-cell text-center" mat-cell
                                            *matCellDef="let days; let i = index">
                                            <div>
                                                <button class="copyArrow btn" (click)="copyCurrentLogs(i)"
                                                    placement="bottom" ngbTooltip="Copy logs"
                                                    tooltipClass="tooltip-class"><i class="fa fa-copy"></i></button>
                                                <button class="copyArrow btn" (click)="pasteLogs(i)"
                                                    *ngIf="showPasteBtn && i != copiedIndex" placement="bottom"
                                                    ngbTooltip="Paste logs" tooltipClass="tooltip-class"><i
                                                        class="fa fa-paste"></i></button> {{days.date}}
                                            </div>

                                        </td>
                                    </ng-container>
                                    <!-- Login Column -->

                                    <ng-container matColumnDef="logIn">
                                        <th class="text-center" mat-header-cell *matHeaderCellDef>LogIn</th>
                                        <td class="mat-table-cell text-center" mat-cell
                                            *matCellDef="let days;let i=index">
                                            <!-- <app-time-picker [defaultTime]="defaultTime"
                                                (timeFor)="eventFromTimePicker($event)"></app-time-picker> -->
                                            <mat-form-field>
                                                <div class="clock">
                                                    <div>
                                                        <input matInput type="time" [ngxTimepicker]="min" [format]="24"
                                                            [(ngModel)]='days.logIn' [min]="minimunTime" readonly>
                                                    </div>
                                                    <div>
                                                        <ngx-material-timepicker-toggle [for]="min">
                                                        </ngx-material-timepicker-toggle>
                                                        <ngx-material-timepicker #min (closed)="closed(i)"
                                                            (timeChanged)="timeChanged($event,i)">
                                                        </ngx-material-timepicker>
                                                    </div>
                                                </div>
                                            </mat-form-field>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lunchStart">
                                        <th class="text-center" mat-header-cell *matHeaderCellDef>Lunch Start </th>
                                        <td class="mat-table-cell text-center" mat-cell
                                            *matCellDef="let days;let i=index">
                                            <mat-form-field>
                                                <div class="clock">
                                                    <div>
                                                        <input matInput type="time" [ngxTimepicker]="min" [format]="24"
                                                            [(ngModel)]='days.lunchStart' [min]="days.logIn" readonly>
                                                    </div>
                                                    <div>
                                                        <ngx-material-timepicker-toggle [for]="min">
                                                        </ngx-material-timepicker-toggle>
                                                        <ngx-material-timepicker #min (closed)="closed(i)"
                                                            (timeChanged)="timeChanged($event,i)">
                                                        </ngx-material-timepicker>
                                                    </div>
                                                </div>
                                            </mat-form-field>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lunchEnd">
                                        <th class="text-center" mat-header-cell *matHeaderCellDef>Lunch End </th>
                                        <td class="mat-table-cell text-center" mat-cell
                                            *matCellDef="let days;let i=index">
                                            <mat-form-field>
                                                <div class="clock">
                                                    <div>
                                                        <input matInput type="time" [ngxTimepicker]="min" [format]="24"
                                                            [(ngModel)]='days.lunchEnd' [min]="days.lunchStart"
                                                            readonly>
                                                    </div>
                                                    <div>
                                                        <ngx-material-timepicker-toggle [for]="min">
                                                        </ngx-material-timepicker-toggle>
                                                        <ngx-material-timepicker #min (closed)="closed(i)"
                                                            (timeChanged)="timeChanged($event,i)">
                                                        </ngx-material-timepicker>
                                                    </div>
                                                </div>
                                            </mat-form-field>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="logOut">
                                        <th class="text-center" mat-header-cell *matHeaderCellDef>Log Out </th>
                                        <td class="mat-table-cell text-center" mat-cell
                                            *matCellDef="let days;let i=index">
                                            <mat-form-field>
                                                <div class="clock">
                                                    <div>
                                                        <input matInput type="time" [ngxTimepicker]="min" [format]="24"
                                                            [(ngModel)]='days.logOut' [min]="days.lunchEnd" readonly>
                                                    </div>
                                                    <div>
                                                        <ngx-material-timepicker-toggle [for]="min">
                                                        </ngx-material-timepicker-toggle>
                                                        <ngx-material-timepicker (closed)="closed(i)"
                                                            (timeSet)="timeChanged($event,i)" #min>
                                                        </ngx-material-timepicker>
                                                    </div>
                                                </div>
                                            </mat-form-field>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="travelHours">
                                        <th class="text-center" mat-header-cell *matHeaderCellDef>Travel Hours </th>
                                        <td class="mat-table-cell text-center" mat-cell
                                            *matCellDef="let days;let i = index">
                                            <!-- <input matInput type="time" (change)="travelPlusWork(i)"
                                                [(ngModel)]='days.travel' *ngIf="days && days.travel"> -->
                                            <mat-form-field>
                                                <div class="clock">
                                                    <div>
                                                        <input matInput type="time" [ngxTimepicker]="min" [format]="24"
                                                            [(ngModel)]='days.travel' [min]="minimunTime" readonly>
                                                    </div>
                                                    <div>
                                                        <ngx-material-timepicker-toggle [for]="min">
                                                        </ngx-material-timepicker-toggle>
                                                        <ngx-material-timepicker (closed)="closed(i)"
                                                            (timeSet)="travelPlusWork($event,i)" #min>
                                                        </ngx-material-timepicker>
                                                    </div>
                                                </div>
                                            </mat-form-field>
                                        </td>
                                    </ng-container>



                                    <ng-container matColumnDef="hoursWorked">
                                        <th class="text-center" mat-header-cell *matHeaderCellDef>Hours Worked </th>
                                        <td class="mat-table-cell text-center" mat-cell *matCellDef="let days">
                                            <span [ngClass]="checkTotalWorkHour(days.workingHours.hours)">
                                                {{days.workingHours.hours | number:'2.0'}}:{{days.workingHours.minutes | number:'2.0'}}
                                            </span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="totalHours">
                                        <th class="text-center" mat-header-cell *matHeaderCellDef>Travel + Working</th>
                                        <td class="mat-table-cell text-center" mat-cell
                                            *matCellDef="let days;let i = index">
                                            <span [ngClass]="checkTravelPlusWorkHour(i)">
                                                {{calculateTravelPlusWorkHours(i) | number:'2.0'}}:{{calculateTravelPlusWorkMinutes(i) | number:'2.0'}}
                                            </span>
                                        </td>
                                    </ng-container>

                                    <thead>
                                        <tr style="background:lightgray;" mat-header-row
                                            *matHeaderRowDef="displayedColumns"></tr>
                                    </thead>
                                    <tbody>
                                        <tr mat-row *matRowDef="let learner; columns: displayedColumns;"></tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <h3 *ngIf="loading && !displayMsg" class="text-center text-info pt-3">Loading...<i
                                class="fa fa-cog fa-spin text-info"></i>
                        </h3>

                        <h3 class="text-center text-info pt-3 no_found_msg" *ngIf="displayMsg">
                            Please choose dates to display Time Logs!
                        </h3>
                        <!-- <h3 class="text-center text-info pt-3 no_found_msg" *ngIf="displayNoDataMsg && !loading">
                            No Logs Found!
                        </h3> -->
                    </div>
                    <!--/.Card content-->
                    <div class="row justify-content-center">
                        <button mat-flat-button color="primary" (click)="submitDetail(days)" type="submit"
                            class="mt-2 button_hover_effect col-lg-3" *ngIf="!displayMsg">
                            <i class="fas fa-save fa-fw"></i>
                            <span> Save</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>