.break {
    color: red !important;
}

.ok {
    color: green !important;
}

.labelColor {
    color: #2196f3;
}

.clock {
    display: flex;
    width: 100%;
    align-items: center;
}

mat-form-field {
    max-width: 100px;
    margin: 2px 0px;
}

.copyArrow {
    background: transparent;
    color: #2196f3;
    font-size: 20px;
}

table {
    margin: 0;
    width: 100%;
    @media (max-width: 1199px) {
        min-width: 950px;
    }
}

.p_Spacing {
    p {
        margin-top: 1rem !important;
    }
}

// .time_disp {
.input.mat-input-element {
    text-align: right !important;
    margin-left: 25% !important;
}

// }
.ok {
    font-weight: 500;
}

h5 {
    font-weight: 500;
}

th.text-center {
    font-size: 13px;
}

.make-blue {
    background-color: #c1d1ff40;
}

.make-default {
    // background-color: rgb(207, 255, 235)
}

.printTableHeader {
    background: black !important;
    color: white !important;
}

.text_spacing {
    font-weight: bold;
}

b {
    font-weight: 400;
}

// @media print {
//     .printRow {
//         margin-top: -30px !important;
//     }
// }