.break {
  color: red !important;
}

.ok {
  color: green !important;
}
.labelColor{
    color: #2196f3;
}
.clock{
    display: flex;
    width: 100%;
    align-items: center;
}
mat-form-field{
  max-width: 100px;
  margin: 2px 0px;
}
.copyArrow{
    height: 20px;
    width: 20px;
    margin-left: 20px;
}
