.break {
  color: red !important;
}

.ok {
  color: green !important;
}
.labelColor{
    color: #2196f3;
}
.clock{
    display: flex;
    width: 100%;
    align-items: center;
}
mat-form-field{
  max-width: 100px;
  margin: 2px 0px;
}
.copyArrow{
    background: transparent;
    color: #2196f3;
    font-size: 20px;
}
table {
    margin: 0;
    width: 100%;
    @media(max-width: 1199px){
        min-width: 950px;
    }
}