<h1 mat-dialog-title class="mat-dialog-title light-underline"><i class="fas fa-plus fa-fw"></i>Add Material </h1>
<form (ngSubmit)='doSubmit()'>
<div mat-dialog-content>
        <mat-form-field class="example-full-width col-xl-6 col-sm-6">
                <input matInput name="material-title" placeholder="Material Title" [(ngModel)]='data.title' required cdkFocusInitial>
        </mat-form-field>
        <mat-form-field class="example-full-width col-xl-6 col-sm-6">
            <mat-select [(ngModel)]='data.type' [disabled]="disabled" name="type" placeholder="Type">
                    <mat-option value='Assignment'> Assignment</mat-option>
                    <mat-option value='Reading'> Reading Material</mat-option>
                </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width col-6" *ngIf='data.type == "Assignment"'>
                <input matInput name='unit' placeholder="Enter Unit Number" type="number" required [(ngModel)]='data.unitNo'>
        </mat-form-field>
        <mat-form-field class="example-full-width col-6" *ngIf='data.type == "Assignment"'>
                <input matInput name='assignment' placeholder="Enter Assignment Number" type="number" required [(ngModel)]='data.assignmentNo'>
        </mat-form-field>
        
  </div>
  <div mat-dialog-actions align="center" *ngIf="!loading"> 
    <button mat-flat-button class="button_hover_effect" color="primary" type="submit">
        <i class="fas fa-save fa-fw"></i>
        <span>Save</span>
    </button>
    <!-- <button mat-button (click)="onNoClick()">Cancle</button> -->
  </div>
  <div mat-dialog-actions align='center' *ngIf="loading">
        Working... <i class="fas fa-refresh fa-spin"></i>
  </div>
  </form>