<h1 mat-dialog-title class="mat-dialog-title light-underline"><i class="fas fa-plus-circle"></i> Add Files </h1>
<form (ngSubmit)='doSubmit()' [formGroup]="uploadMaterial">

    <!-- <button class="file_upload" type="button">
        <span class="btn_lbl">Browse</span>
        <span class="btn_colorlayer"></span>
        <input type="file" formControlName="materialfile" name="fileupload"
            (change)="onFileChange($event,'materialfile')" id="file_upload" multiple />
    </button> -->
    <mat-card>
        <p>Upload</p>
        <mat-card-content>
            <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop
                (onFileDropped)="uploadFile($event,'materialfile')">
                <input hidden type="file" accept=".pdf, .ppt, .doc, .docx ,.mp4" formControlName="materialfile"
                    #fileInput (change)="uploadFile($event,'browse')" multiple>
                <div class="uploadfile_arrow">
                    <div class="arrow_div"><i class="fas fa-arrow-circle-up"></i></div>
                    <p class="drag_file">Drag & Drop</p>
                    <p>or click to browse files</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <div class="files-list" *ngFor="let file of files;let i= index">
        {{ file }}
        <!-- <span><button class="delete-file" (click)="deleteAttachment(i)">
                <i _ngcontent-nga-c17="" class="fas fa-times-circle" style="color:#FF6565;"></i>
            </button></span> -->
    </div>


    <div mat-dialog-actions align="center" *ngIf="!loading">
        <button mat-flat-button color="primary" type="submit" class="mt-3 button_hover_effect">
            <i class="fas fa-save fa-fw"></i>
            <span> Save</span>
        </button>
        <!-- <button mat-button (click)="onNoClick()">Cancle</button> -->
    </div>
    <div mat-dialog-actions align='center' *ngIf="loading">
        Working... <i class="fas fa-refresh fa-spin"></i>
    </div>
</form>